/****** Oggetto:  Table [dbo].[U_PRV_CL]    Data script: 05/06/2012 19:30:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[U_PRV_CL]') AND type in (N'U'))
DROP TABLE [dbo].[U_PRV_CL]

/****** Oggetto:  Table [dbo].[U_PRV_CL]    Data script: 05/06/2012 10:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[U_PRV_CL](
	[id_unique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_U_PRV_CL_id_unique]  DEFAULT (newid()),
	[PRV_CODSOC] [varchar](2) NULL CONSTRAINT [DF_U_PRV_CL_PRV_CODSOC]  DEFAULT (''),
	[PRV_CODAGE] [varchar](3) NULL CONSTRAINT [DF_U_PRV_CL_PRV_CODAGE]  DEFAULT (''),
	[PRV_DESAGE] [varchar](35) NULL CONSTRAINT [DF_U_PRV_CL_PRV_DESAGE]  DEFAULT (''),
	[PRV_CODCLI] [varchar](10) NULL CONSTRAINT [DF_U_PRV_CL_PRV_CODCLI]  DEFAULT (''),
	[PRV_RAGSOC] [varchar](35) NULL CONSTRAINT [DF_U_PRV_CL_PRV_RAGSOC]  DEFAULT (''),
	[PRV_PERPRG] [numeric](5, 2) NULL CONSTRAINT [DF_U_PRV_CL_PRV_PERPRG]  DEFAULT (0),
	[PRV_PERPRN] [numeric](5, 2) NULL CONSTRAINT [DF_U_PRV_CL_PRV_PERPRN]  DEFAULT (0),
	[PRV_COGLI01] [varchar](02) NULL CONSTRAINT [DF_U_PRV_CL_PRV_COGLI01]  DEFAULT (''),
	[PRV_DEGLI01] [varchar](25) NULL CONSTRAINT [DF_U_PRV_CL_PRV_DEGLI01]  DEFAULT (''),
 	[PRV_PEGLI01] [numeric](5, 2) NULL CONSTRAINT [DF_U_PRV_CL_PRV_PEGLI01]  DEFAULT (0),
	[PRV_COGLI02] [varchar](02) NULL CONSTRAINT [DF_U_PRV_CL_PRV_COGLI02]  DEFAULT (''),
	[PRV_DEGLI02] [varchar](25) NULL CONSTRAINT [DF_U_PRV_CL_PRV_DEGLI02]  DEFAULT (''),
 	[PRV_PEGLI02] [numeric](5, 2) NULL CONSTRAINT [DF_U_PRV_CL_PRV_PEGLI02]  DEFAULT (0),
	[PRV_COGLI03] [varchar](02) NULL CONSTRAINT [DF_U_PRV_CL_PRV_COGLI03]  DEFAULT (''),
	[PRV_DEGLI03] [varchar](25) NULL CONSTRAINT [DF_U_PRV_CL_PRV_DEGLI03]  DEFAULT (''),
 	[PRV_PEGLI03] [numeric](5, 2) NULL CONSTRAINT [DF_U_PRV_CL_PRV_PEGLI03]  DEFAULT (0),
	[PRV_COGLI04] [varchar](02) NULL CONSTRAINT [DF_U_PRV_CL_PRV_COGLI04]  DEFAULT (''),
	[PRV_DEGLI04] [varchar](25) NULL CONSTRAINT [DF_U_PRV_CL_PRV_DEGLI04]  DEFAULT (''),
 	[PRV_PEGLI04] [numeric](5, 2) NULL CONSTRAINT [DF_U_PRV_CL_PRV_PEGLI04]  DEFAULT (0),
	[PRV_COGLI05] [varchar](02) NULL CONSTRAINT [DF_U_PRV_CL_PRV_COGLI05]  DEFAULT (''),
	[PRV_DEGLI05] [varchar](25) NULL CONSTRAINT [DF_U_PRV_CL_PRV_DEGLI05]  DEFAULT (''),
 	[PRV_PEGLI05] [numeric](5, 2) NULL CONSTRAINT [DF_U_PRV_CL_PRV_PEGLI05]  DEFAULT (0),
	[PRV_COGLI06] [varchar](02) NULL CONSTRAINT [DF_U_PRV_CL_PRV_COGLI06]  DEFAULT (''),
	[PRV_DEGLI06] [varchar](25) NULL CONSTRAINT [DF_U_PRV_CL_PRV_DEGLI06]  DEFAULT (''),
 	[PRV_PEGLI06] [numeric](5, 2) NULL CONSTRAINT [DF_U_PRV_CL_PRV_PEGLI06]  DEFAULT (0),
	[PRV_COGLI07] [varchar](02) NULL CONSTRAINT [DF_U_PRV_CL_PRV_COGLI07]  DEFAULT (''),
	[PRV_DEGLI07] [varchar](25) NULL CONSTRAINT [DF_U_PRV_CL_PRV_DEGLI07]  DEFAULT (''),
 	[PRV_PEGLI07] [numeric](5, 2) NULL CONSTRAINT [DF_U_PRV_CL_PRV_PEGLI07]  DEFAULT (0),
	[PRV_COGLI08] [varchar](02) NULL CONSTRAINT [DF_U_PRV_CL_PRV_COGLI08]  DEFAULT (''),
	[PRV_DEGLI08] [varchar](25) NULL CONSTRAINT [DF_U_PRV_CL_PRV_DEGLI08]  DEFAULT (''),
 	[PRV_PEGLI08] [numeric](5, 2) NULL CONSTRAINT [DF_U_PRV_CL_PRV_PEGLI08]  DEFAULT (0),
	[PRV_COGLI09] [varchar](02) NULL CONSTRAINT [DF_U_PRV_CL_PRV_COGLI09]  DEFAULT (''),
	[PRV_DEGLI09] [varchar](25) NULL CONSTRAINT [DF_U_PRV_CL_PRV_DEGLI09]  DEFAULT (''),
 	[PRV_PEGLI09] [numeric](5, 2) NULL CONSTRAINT [DF_U_PRV_CL_PRV_PEGLI09]  DEFAULT (0),
	[PRV_COGLI10] [varchar](02) NULL CONSTRAINT [DF_U_PRV_CL_PRV_COGLI10]  DEFAULT (''),
	[PRV_DEGLI10] [varchar](25) NULL CONSTRAINT [DF_U_PRV_CL_PRV_DEGLI10]  DEFAULT (''),
 	[PRV_PEGLI10] [numeric](5, 2) NULL CONSTRAINT [DF_U_PRV_CL_PRV_PEGLI10]  DEFAULT (0),
CONSTRAINT [PK_U_PRV_CL] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF