	
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ATTACHMENTS]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[ATTACHMENTS]
GO

CREATE TABLE [ATTACHMENTS] (
	[id_unique]  uniqueidentifier ROWGUIDCOL  NOT NULL,
	[IDATTACHMENTS]	[varchar] (10) COLLATE Latin1_General_CI_AS NULL,
	[TIPO]			[varchar] (3) COLLATE Latin1_General_CI_AS NULL,
	[IDDOCUMENTO]	[varchar] (10) COLLATE Latin1_General_CI_AS NULL,
	[FILENAME] 		[varchar] (254) COLLATE Latin1_General_CI_AS NULL,
	[SEQUEN] 		[numeric] (5,0)
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ATTACHMENTS] WITH NOCHECK ADD 
	CONSTRAINT [PK_ATTACHMENTS] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ATTACHMENTS] WITH NOCHECK ADD 
	CONSTRAINT [DF_ATTACHMENTS_id_unique] DEFAULT (newid()) FOR [id_unique],
	CONSTRAINT [DF_ATTACHMENTS_IDATTACHMENTS] DEFAULT ('') FOR [IDATTACHMENTS],
	CONSTRAINT [DF_ATTACHMENTS_TIPO] DEFAULT ('') FOR [TIPO],
	CONSTRAINT [DF_ATTACHMENTS_IDDOCUMENTO] DEFAULT ('') FOR [IDDOCUMENTO],
	CONSTRAINT [DF_ATTACHMENTS_FILENAME] DEFAULT ('') FOR [FILENAME],
	CONSTRAINT [DF_ATTACHMENTS_SEQUEN] DEFAULT (0) FOR [SEQUEN]
GO
