	
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AULA]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[AULA]
GO

/****** Object:  Table [dbo].[AULA]    Script Date: 23/08/2007 5.41.01 ******/
CREATE TABLE [AULA] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[TAGGANCIO] 	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDCENTRCOM]    [varchar] (5) COLLATE Latin1_General_CI_AS  NULL ,
	[IDCATAULA]     [varchar] (3) COLLATE Latin1_General_CI_AS  NULL ,
	[IDANAAZI]      [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDTIPOAULA]    [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[CODICE] 	  	[varchar] (15) COLLATE Latin1_General_CI_AS NULL ,
	[NOME] 		   	[varchar] (100) COLLATE Latin1_General_CI_AS NULL ,
	[ANAAZI] 	  	[varchar] (80) COLLATE Latin1_General_CI_AS NULL ,
	[INDIRIZZO] 	[varchar] (100) COLLATE Latin1_General_CI_AS NULL ,
	[CAP] 		    [varchar] (5) COLLATE Latin1_General_CI_AS NULL ,
	[COMUNE] 	  	[varchar] (40) COLLATE Latin1_General_CI_AS NULL ,
	[NPOSTAZIONI] 	[numeric] (4,0) NULL ,
	[D_INIZIO] 		[varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[D_FINE] 	  	[varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ANNOTAZIONI] 	[text] COLLATE Latin1_General_CI_AS NULL ,
	[UTENTEINS] 	[varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[D_DATAINS] 	[varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[UTENTEMOD] 	[varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[D_DATAMOD] 	[varchar] (10) COLLATE Latin1_General_CI_AS NULL 

) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[AULA] WITH NOCHECK ADD 
	CONSTRAINT [PK_AULA] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[AULA] WITH NOCHECK ADD 
	CONSTRAINT [DF_AULA_id_unique] 		DEFAULT (newid()) FOR 	[id_unique],
	CONSTRAINT [DF_AULA_TAGGANCIO] 		DEFAULT ('') FOR 		[TAGGANCIO],
	CONSTRAINT [DF_AULA_IDCENTRCOM]    	DEFAULT ('') FOR 		[IDCENTRCOM] ,
	CONSTRAINT [DF_AULA_IDCATAULA]     	DEFAULT ('') FOR 		[IDCATAULA]  ,
	CONSTRAINT [DF_AULA_IDANAAZI]      	DEFAULT ('') FOR 		[IDANAAZI]   ,
	CONSTRAINT [DF_AULA_IDTIPOAULA]    	DEFAULT ('') FOR 		[IDTIPOAULA] ,
	CONSTRAINT [DF_AULA_CODICE] 	  	   	DEFAULT ('') FOR 	[CODICE] 	 ,   
	CONSTRAINT [DF_AULA_NOME] 		   	   	DEFAULT ('') FOR 	[NOME] 		 ,   
	CONSTRAINT [DF_AULA_ANAAZI] 	  	   	DEFAULT ('') FOR 	[ANAAZI] 	 ,   
	CONSTRAINT [DF_AULA_INDIRIZZO] 	   	DEFAULT ('') FOR 		[INDIRIZZO]  ,  
	CONSTRAINT [DF_AULA_CAP] 		        DEFAULT ('') FOR 	[CAP] 		 ,    
	CONSTRAINT [DF_AULA_COMUNE] 	  	   	DEFAULT ('') FOR 	[COMUNE] 	 ,   
	CONSTRAINT [DF_AULA_NPOSTAZIONI] 	 	DEFAULT (0) FOR 	[NPOSTAZIONI], 
	CONSTRAINT [DF_AULA_D_INIZIO] 		   	DEFAULT ('') FOR 	[D_INIZIO] 	 ,  
	CONSTRAINT [DF_AULA_D_FINE] 	  	   	DEFAULT ('') FOR 	[D_FINE] 	 ,   
	CONSTRAINT [DF_AULA_ANNOTAZIONI] 	  	DEFAULT ('') FOR 	[ANNOTAZIONI], 
	CONSTRAINT [DF_AULA_UTENTEINS] 	   	DEFAULT ('') FOR 		[UTENTEINS]  ,  
	CONSTRAINT [DF_AULA_D_DATAINS] 	   	DEFAULT ('') FOR 		[D_DATAINS]  ,  
	CONSTRAINT [DF_AULA_UTENTEMOD] 	   	DEFAULT ('') FOR 		[UTENTEMOD]  ,  
	CONSTRAINT [DF_AULA_D_DATAMOD] 	   	DEFAULT ('') FOR 		[D_DATAMOD]    
GO

