	
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AZIENDA]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[AZIENDA]
GO

/****** Object:  Table [dbo].[AZIENDA]    Script Date: 23/08/2007 5.41.01 ******/
CREATE TABLE [AZIENDA] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[TAGGANCIO] 	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[CODICE] 		[varchar] (16) COLLATE Latin1_General_CI_AS NULL ,
	[PERSONA]		[varchar] (40) COLLATE Latin1_General_CI_AS NULL ,
	[CODFISCALE] 	[varchar] (16) COLLATE Latin1_General_CI_AS NULL ,
	[PARTITAIVA] 	[varchar] (11) COLLATE Latin1_General_CI_AS NULL ,
	[IDTITOLO] 		[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[RAGSOC] 		[varchar] (80) COLLATE Latin1_General_CI_AS NULL ,
	[ACRONIMO] 		[varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[LOCSEDLEG] 	[varchar] (40) COLLATE Latin1_General_CI_AS NULL ,
	[INDSEDLEG] 	[varchar] (100) COLLATE Latin1_General_CI_AS NULL ,
	[CAPSEDLEG] 	[varchar] (5) COLLATE Latin1_General_CI_AS NULL ,
	[TELSEDLEG] 	[varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[FAXSEDLEG] 	[varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[EMAIL] 		[varchar] (100) COLLATE Latin1_General_CI_AS NULL ,
	[WEB] 			[varchar] (100) COLLATE Latin1_General_CI_AS NULL ,
	[PAGCLI] 	[varchar] (100) COLLATE Latin1_General_CI_AS NULL ,
	[PAGFOR]		[varchar] (100) COLLATE Latin1_General_CI_AS NULL 

) ON [PRIMARY] 
GO

ALTER TABLE [dbo].[AZIENDA] WITH NOCHECK ADD 
	CONSTRAINT [PK_AZIENDA] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[AZIENDA] WITH NOCHECK ADD 
	CONSTRAINT [DF_AZIENDA_id_unique] 		DEFAULT (newid()) FOR 	[id_unique],
	CONSTRAINT [DF_AZIENDA_TAGGANCIO] 		DEFAULT ('') FOR 		[TAGGANCIO],
	CONSTRAINT [DF_AZIENDA_CODICE]    	DEFAULT ('') FOR 			[CODICE] ,
	CONSTRAINT [DF_AZIENDA_PERSONA]    	DEFAULT ('') FOR 			[PERSONA] ,
	CONSTRAINT [DF_AZIENDA_CODFISCALE]    	DEFAULT ('') FOR 		[CODFISCALE] ,
	CONSTRAINT [DF_AZIENDA_PARTITAIVA]    	DEFAULT ('') FOR 		[PARTITAIVA] ,
	CONSTRAINT [DF_AZIENDA_IDTITOLO]    	DEFAULT ('') FOR 			[IDTITOLO] ,
	CONSTRAINT [DF_AZIENDA_RAGSOC]    	DEFAULT ('') FOR 			[RAGSOC] ,
	CONSTRAINT [DF_AZIENDA_ACRONIMO]    	DEFAULT ('') FOR 			[ACRONIMO] ,
	CONSTRAINT [DF_AZIENDA_LOCSEDLEG]    	DEFAULT ('') FOR 			[LOCSEDLEG] ,
	CONSTRAINT [DF_AZIENDA_INDSEDLEG]    	DEFAULT ('') FOR 			[INDSEDLEG] ,
	CONSTRAINT [DF_AZIENDA_CAPSEDLEG]    	DEFAULT ('') FOR 			[CAPSEDLEG] ,
	CONSTRAINT [DF_AZIENDA_TELSEDLEG]    	DEFAULT ('') FOR 			[TELSEDLEG] ,
	CONSTRAINT [DF_AZIENDA_FAXSEDLEG]    	DEFAULT ('') FOR 			[FAXSEDLEG] ,
	CONSTRAINT [DF_AZIENDA_EMAIL]    	DEFAULT ('') FOR 			[EMAIL] ,
	CONSTRAINT [DF_AZIENDA_WEB]    	DEFAULT ('') FOR 			[WEB] ,
	CONSTRAINT [DF_AZIENDA_PAGCLI]    	DEFAULT ('') FOR 			[PAGCLI] ,
	CONSTRAINT [DF_AZIENDA_PAGFOR]    	DEFAULT ('') FOR 			[PAGFOR]
	
	
	

GO

