if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[BUDGET_SINT_TT]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[BUDGET_SINT_TT]
GO
 
CREATE TABLE [dbo].[BUDGET_SINT_TT](
	[id_unique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_BUDGET_SINT_TT_id_unique]  DEFAULT (newid()),
	[IDBudSintTT] [varchar](32) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_IDBudSintTT]  DEFAULT (''),
	[B_Interna] [numeric](1, 0) NULL CONSTRAINT [DF_BUDGET_SINT_TT_B_Interna]  DEFAULT ((0)),
	[Anno] [varchar](4) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_Anno]  DEFAULT (''),
	[CentrComP] [varchar](5) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_CentrComP]  DEFAULT (''),
	[CentrCom] [varchar](5) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_CentrCom]  DEFAULT (''),
	[AreaMerc] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_AreaMerc]  DEFAULT (''),
	[ClassTC] [varchar](2) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_ClassTC]  DEFAULT (''),
	[Codice] [varchar](25) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_Codice]  DEFAULT (''),
	[Valore_budget] [varchar](25) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_Valore_budget]  DEFAULT (''),
	[CodCli] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_CodCli]  DEFAULT (''),
	[RagSoc] [varchar](80) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_RagSoc]  DEFAULT (''),
	[D_Data] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_D_Data]  DEFAULT (''),
	[D_Inizio] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_D_Inizio]  DEFAULT (''),
	[D_Fine] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_D_Fine]  DEFAULT (''),
	[Titolo] [varchar](255) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_Titolo]  DEFAULT (''),
	[Annotazioni] [text] COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_Annotazioni]  DEFAULT (''),
	[UtenteIns] [varchar](50) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_UtenteIns]  DEFAULT (''),
	[D_DataIns] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_D_DataIns]  DEFAULT (''),
	[UtenteMod] [varchar](50) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_UtenteMod]  DEFAULT (''),
	[D_DataMod] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_TT_D_DataMod]  DEFAULT (''),
	[Budget_Chiuso] [bit] NULL CONSTRAINT [DF_BUDGET_SINT_TT_Budget_Chiuso]  DEFAULT ((0)),
 CONSTRAINT [PK_BUDGET_SINT_TT] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO