if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[BUDGET_SINT_DD]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[BUDGET_SINT_DD]
GO
 
CREATE TABLE [dbo].[BUDGET_SINT_DD](
	[id_unique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_BUDGET_SINT_DD_id_unique]  DEFAULT (newid()),
	[IDBudSintDD] [varchar](32) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_IDBudSintDD]  DEFAULT (''),
	[CodAttivita] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_CodAttivita]  DEFAULT (''),
	[DesAttivita] [varchar](254) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_DesAttivita]  DEFAULT (''),
	[TipoSogg] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_TipoSogg]  DEFAULT (''),
	[DsTipSog] [varchar](100) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_DsTipSog]  DEFAULT (''),
	[CodSogg] [varchar](20) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_CodSogg]  DEFAULT (''),
	[DesSogg] [varchar](100) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_DesSogg]  DEFAULT (''),
	[HrSett] [numeric](10, 2) NULL CONSTRAINT [DF_BUDGET_SINT_DD_HrSett]  DEFAULT ((0)),
	[NrSett] [numeric](10, 2) NULL CONSTRAINT [DF_BUDGET_SINT_DD_NrSett]  DEFAULT ((0)),
	[EuroHr] [numeric](17, 2) NULL CONSTRAINT [DF_BUDGET_SINT_DD_EuroHr]  DEFAULT ((0)),
	[Anno] [varchar](4) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_Anno]  DEFAULT (''),
	[Mese] [varchar](2) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_Mese]  DEFAULT (''),
	[AAAAMM] [varchar](7) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_AAAAMM]  DEFAULT (''),
	[QtaGG] [numeric](17, 2) NULL CONSTRAINT [DF_BUDGET_SINT_DD_QtaGG]  DEFAULT ((0)),
	[OreGG] [numeric](10, 2) NULL CONSTRAINT [DF_BUDGET_SINT_DD_OreGG]  DEFAULT ((0)),
	[UMcosto] [varchar](2) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_UMcosto]  DEFAULT (''),
	[Costo] [numeric](17, 6) NULL CONSTRAINT [DF_BUDGET_SINT_DD_Costo]  DEFAULT ((0)),
	[ValCosto] [numeric](17, 2) NULL CONSTRAINT [DF_BUDGET_SINT_DD_ValCosto]  DEFAULT ((0)),
	[UMricavo] [varchar](2) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_UMricavo]  DEFAULT (''),
	[Ricavo] [numeric](17, 6) NULL CONSTRAINT [DF_BUDGET_SINT_DD_Ricavo]  DEFAULT ((0)),
	[ValRicavo] [numeric](17, 2) NULL CONSTRAINT [DF_BUDGET_SINT_DD_ValRicavo]  DEFAULT ((0)),
	[IDTipoOra_c] [varchar](32) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_IDTipoOra_c]  DEFAULT (''),
	[TipoOra_c] [varchar](254) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_TipoOra_c]  DEFAULT (''),
	[IDDettOra_c] [varchar](32) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_IDDettOra_c]  DEFAULT (''),
	[DettOra_c] [varchar](245) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_DettOra_c]  DEFAULT (''),
	[IDTipoOra_r] [varchar](32) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_IDTipoOra_r]  DEFAULT (''),
	[TipoOra_r] [varchar](254) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_TipoOra_r]  DEFAULT (''),
	[IDDettOra_r] [varchar](32) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_IDDettOra_r]  DEFAULT (''),
	[DettOra_r] [varchar](245) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_DD_DettOra_r]  DEFAULT (''),
	[GFOGLIOPRES] [bit] NULL CONSTRAINT [DF_BUDGET_SINT_DD_GFOGLIOPRES]  DEFAULT ((0)),
 CONSTRAINT [PK_BUDGET_SINT_DD] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
