if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[BUDGET_SINT_CLIENTI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[BUDGET_SINT_CLIENTI]
GO
 
CREATE TABLE [dbo].[BUDGET_SINT_CLIENTI](
	[id_unique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_BUDGET_SINT_CLIENTI_id_unique]  DEFAULT (newid()),
	[DAGGANCIO] [varchar](32) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_CLIENTI_DAGGANCIO]  DEFAULT (''),
	[CODICE_CLIENTE] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_CLIENTI_CODICE_CLIENTE]  DEFAULT (''),
	[DESCRIZIONE_CLIENTE] [varchar](80) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_CLIENTI_DESCRIZIONE_CLIENTE]  DEFAULT (''),
	[DURATA_DAL] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_CLIENTI_DURATA_DAL]  DEFAULT (''),
	[DURATA_AL] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_CLIENTI_DURATA_AL]  DEFAULT (''),
	[IMPORTO] [numeric](17, 2) NULL CONSTRAINT [DF_BUDGET_SINT_CLIENTI_HrSett]  DEFAULT ((0)),
	[BUDCLISYS] [varchar] (10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_BUDGET_SINT_CLIENTI_BUDCLISYS]  DEFAULT ('')
 CONSTRAINT [PK_BUDGET_SINT_CLIENTI] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
