
/****** Oggetto:  Table [dbo].[C_IVA_CL]    Data script: 01/03/2013 16:14:23 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[C_IVA_CL]') AND type in (N'U'))
DROP TABLE [dbo].[C_IVA_CL]


/****** Oggetto:  Table [dbo].[C_IVA_CL]    Data script: 01/03/2013 16:14:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[C_IVA_CL](
	[id_unique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_C_IVA_CL_id_unique]  DEFAULT (newid()),
	[IVA_CHIAVE] [numeric](6, 0) NULL CONSTRAINT [DF_C_IVA_CL_IVA_CHIAVE]  DEFAULT (0),
	[IVA_CODSOC] [varchar](2) NULL CONSTRAINT [DF_C_IVA_CL_IVA_CODSOC]  DEFAULT (''),
	[IVA_ANNO] [varchar](4) NULL CONSTRAINT [DF_C_IVA_CL_IVA_ANNO]  DEFAULT (''),
	[IVA_MESE] [varchar](2) NULL CONSTRAINT [DF_C_IVA_CL_IVA_MESE]  DEFAULT (''),
	[IVA_DTFATT] [varchar](10) NULL CONSTRAINT [DF_C_IVA_CL_IVA_DTFATT]  DEFAULT (''),
	[IVA_NUMDOC] [varchar](6) NULL CONSTRAINT [DF_C_IVA_CL_IVA_NUMDOC]  DEFAULT (''),
	[IVA_NUMFAT] [varchar](6) NULL CONSTRAINT [DF_C_IVA_CL_IVA_NUMFAT]  DEFAULT (''),
	[IVA_NUMCEE] [varchar](6) NULL CONSTRAINT [DF_C_IVA_CL_IVA_NUMCEE]  DEFAULT (''),
	[IVA_CODCLI] [varchar](13) NULL CONSTRAINT [DF_C_IVA_CL_IVA_CODCLI]  DEFAULT (''),
	[IVA_RAGSOC] [varchar](40) NULL CONSTRAINT [DF_C_IVA_CL_IVA_RAGSOC]  DEFAULT (''),
	[IVA_INDIRI] [varchar](40) NULL CONSTRAINT [DF_C_IVA_CL_IVA_INDIRI]  DEFAULT (''),
	[IVA_LOCALI] [varchar](40) NULL CONSTRAINT [DF_C_IVA_CL_IVA_LOCALI]  DEFAULT (''),
	[IVA_CAP] [varchar](5) NULL CONSTRAINT [DF_C_IVA_CL_IVA_CAP]  DEFAULT (''),
	[IVA_FATNOT] [varchar](1) NULL CONSTRAINT [DF_C_IVA_CL_IVA_FATNOT]  DEFAULT (''),
	[IVA_DTCREA] [varchar](10) NULL CONSTRAINT [DF_C_IVA_CL_IVA_DTCREA]  DEFAULT (''),
	[IVA_IMPONI] [numeric](18, 3) NULL CONSTRAINT [DF_C_IVA_CL_IVA_IMPONI]  DEFAULT (0),
	[IVA_CODIVA] [varchar](3) NULL CONSTRAINT [DF_C_IVA_CL_IVA_CODIVA]  DEFAULT (''),
	[IVA_ALIQUO] [numeric](7, 3) NULL CONSTRAINT [DF_C_IVA_CL_IVA_ALIQUO]  DEFAULT (0),
	[IVA_DESIVA] [varchar](21) NULL CONSTRAINT [DF_C_IVA_CL_IVA_DESIVA]  DEFAULT (''),
	[IVA_IMPOST] [numeric](18, 3) NULL CONSTRAINT [DF_C_IVA_CL_IVA_IMPOST]  DEFAULT (0),
	[IVA_TOTALE] [numeric](17, 3) NULL CONSTRAINT [DF_C_IVA_CL_IVA_TOTALE]  DEFAULT (0),
	[PIN_PERCEN] [numeric](13, 7) NULL CONSTRAINT [DF_C_IVA_CL_PIN_PERCEN]  DEFAULT (0),
	[PIN_IMPONI] [numeric](18, 3) NULL CONSTRAINT [DF_C_IVA_CL_PIN_IMPONI]  DEFAULT (0),
	[PIN_IMPOST] [numeric](18, 3) NULL CONSTRAINT [DF_C_IVA_CL_PIN_IMPOST]  DEFAULT (0),
	[PIN_TOTALE] [numeric](17, 3) NULL CONSTRAINT [DF_C_IVA_CL_PIN_TOTALE]  DEFAULT (0),
	[IVA_PARIVA] [varchar](16) NULL CONSTRAINT [DF_C_IVA_CL_IVA_PARIVA]  DEFAULT (''),
	[IVA_FCHIUS] [bit] NULL CONSTRAINT [DF_C_IVA_CL_IVA_FCHIUS]  DEFAULT (0),
	[IVA_CEE] [varchar](2) NULL CONSTRAINT [DF_C_IVA_CL_IVA_CEE]  DEFAULT (''),
	[IVA_CODAGE] [varchar](3) NULL CONSTRAINT [DF_C_IVA_CL_IVA_CODAGE]  DEFAULT (''),
	[IVA_VALUTA] [varchar](3) NULL CONSTRAINT [DF_C_IVA_CL_IVA_VALUTA]  DEFAULT (''),
	[IVA_CAMBIO] [numeric](17, 10) NULL CONSTRAINT [DF_C_IVA_CL_IVA_CAMBIO]  DEFAULT (0),
	[IVA_BOLLATOIVA] [varchar](1) NULL CONSTRAINT [DF_C_IVA_CL_IVA_BOLLATOIVA]  DEFAULT (''),
	[iva_top] [varchar](10) NULL CONSTRAINT [DF_C_IVA_CL_iva_top]  DEFAULT ('   '),
	[IVA_NUMNEW] [numeric](10, 0) NULL CONSTRAINT [DF_C_IVA_CL_IVA_NUMNEW]  DEFAULT (0),
 CONSTRAINT [PK_C_IVA_CL] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF