if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CALENAUL]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[CALENAUL]
GO


/****** Object:  Table [dbo].[CALENAUL]    Script Date: 23/08/2007 5.41.01 ******/
CREATE TABLE [CALENAUL] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[DAGGANCIO] 	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,	
	[ID_CALENDARIO]    	[varchar] (32) COLLATE Latin1_General_CI_AS  NULL ,
	[COMMESSA]     		[varchar] (40) COLLATE Latin1_General_CI_AS  NULL ,
	[COMP_COMM] 		[varchar] (40)COLLATE Latin1_General_CI_AS NULL ,
	[IDCOMPXCOM] 		[varchar] (20) COLLATE Latin1_General_CI_AS NULL ,
	[NOTE] 				[text] COLLATE Latin1_General_CI_AS NULL ,
	[D_DATA] 			[varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORAINIZIO] 		[varchar] (5) COLLATE Latin1_General_CI_AS NULL ,
	[ORAFINE] 			[varchar] (5) COLLATE Latin1_General_CI_AS NULL 

) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[CALENAUL] WITH NOCHECK ADD 
	CONSTRAINT [PK_CALENAUL] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[CALENAUL] WITH NOCHECK ADD 
	CONSTRAINT [DF_CALENAUL_id_unique] 		DEFAULT (newid()) FOR 	[id_unique],
	CONSTRAINT [DF_CALENAUL_DAGGANCIO] 		DEFAULT ('') FOR 		[DAGGANCIO],	
	CONSTRAINT [DF_CALENAUL_ID_CALENDARIO] 		DEFAULT ('') FOR 	[ID_CALENDARIO] ,
	CONSTRAINT [DF_CALENAUL_COMMESSA]        DEFAULT ('') FOR 	[COMMESSA]  ,
	CONSTRAINT [DF_CALENAUL_COMP_COMM] 	   		DEFAULT ('') FOR 	[COMP_COMM]   ,
	CONSTRAINT [DF_CALENAUL_IDCOMPXCOM]        DEFAULT ('') FOR 	[IDCOMPXCOM]  ,
	CONSTRAINT [DF_CALENAUL_NOTE] 			          	DEFAULT ('') FOR 	[NOTE] ,
	CONSTRAINT [DF_CALENAUL_D_DATA] 		     		DEFAULT ('') FOR 	[D_DATA] 	 ,   
	CONSTRAINT [DF_CALENAUL_ORAINIZIO] 	     	DEFAULT ('') FOR 	[ORAINIZIO]	,
    CONSTRAINT [DF_CALENAUL_ORAFINE] 		    DEFAULT ('') FOR 	[ORAFINE]
GO