if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARATT_AULA]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[CARATT_AULA]
GO

/****** Object:  Table [dbo].[CARATT_AULA]    Script Date: 23/08/2007 5.41.01 ******/
CREATE TABLE [CARATT_AULA] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[DAGGANCIO] 	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,	
	[ID_AULA]    		[varchar] (32) COLLATE Latin1_General_CI_AS  NULL ,
	[IDCARTEC]     		[varchar] (3) COLLATE Latin1_General_CI_AS  NULL ,
	[DESCRIZIONE] 		[text] COLLATE Latin1_General_CI_AS NULL ,
	[UTENTEINS] 		[varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[D_DATAINS] 		[varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[UTENTEMOD] 		[varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[D_DATAMOD] 		[varchar] (10) COLLATE Latin1_General_CI_AS NULL 

) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[CARATT_AULA] WITH NOCHECK ADD 
	CONSTRAINT [PK_CARATT_AULA] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[CARATT_AULA] WITH NOCHECK ADD 
	CONSTRAINT [DF_CARATT_AULA_id_unique] 		DEFAULT (newid()) FOR 	[id_unique],
	CONSTRAINT [DF_CARATT_AULA_DAGGANCIO] 		DEFAULT ('') FOR 		[DAGGANCIO],
	
	
	CONSTRAINT [DF_CARATT_AULA_[IDCARTEC]  		DEFAULT ('') FOR 	[IDCARTEC] ,
	CONSTRAINT [DF_CARATT_AULA_[DESCRIZIONE]    DEFAULT ('') FOR 	[DESCRIZIONE]  ,
	CONSTRAINT [DF_CARATT_AULA_[UTENTEINS] 		DEFAULT ('') FOR 	[UTENTEINS]   ,
	CONSTRAINT [DF_CARATT_AULA_[D_DATAINS]     	DEFAULT ('') FOR 	[D_DATAINS] ,
	CONSTRAINT [DF_CARATT_AULA_[UTENTEMOD] 		DEFAULT ('') FOR 	[UTENTEMOD] 	 ,   
	CONSTRAINT [DF_CARATT_AULA_[D_DATAMOD]   	DEFAULT ('') FOR 	[D_DATAMOD]
GO

