	
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARICO_MAGAZZINO_DA_DDT]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[CARICO_MAGAZZINO_DA_DDT]
GO

/****** Object:  Table [dbo].[CARICO_MAGAZZINO_DA_DDT]    Script Date: 23/08/2007 5.41.01 ******/
CREATE TABLE [CARICO_MAGAZZINO_DA_DDT] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[ID_BOMBOLA]  		[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[CODICE_CLIENTE]  	[varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[CODICE_ARTICOLO]   [varchar] (30) COLLATE Latin1_General_CI_AS NULL ,
	[BARCODE]   		[varchar] (7) COLLATE Latin1_General_CI_AS NULL ,
	[ID_BOMBOLA_DDT] 	[varchar] (10)  COLLATE Latin1_General_CI_AS NULL 	,
	[TIPO_BOMBOLA] 		[varchar] (1)  COLLATE Latin1_General_CI_AS NULL    , 
	[QTA] 				[integer] ,
	[CONFERMATO] 		[varchar] (1)  COLLATE Latin1_General_CI_AS NULL  ,   
	[DATA_CONFERMA] 	[varchar] (10)  COLLATE Latin1_General_CI_AS NULL  ,
	[ORA_CONFERMA] 		[varchar] (8)  COLLATE Latin1_General_CI_AS NULL  ,
	[NR_DDT] 			[varchar] (30)  COLLATE Latin1_General_CI_AS NULL  ,
	[DATA_DDT] 			[varchar] (10)  COLLATE Latin1_General_CI_AS NULL  
    
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CARICO_MAGAZZINO_DA_DDT] WITH NOCHECK ADD 
	CONSTRAINT [PK_CARICO_MAGAZZINO_DA_DDT] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[CARICO_MAGAZZINO_DA_DDT] WITH NOCHECK ADD 
	CONSTRAINT [DF_CARICO_MAGAZZINO_DA_DDT_id_unique] 		DEFAULT (newid()) 	FOR 	[id_unique]	,
	CONSTRAINT [DF_CARICO_MAGAZZINO_DA_DDT_ID_BOMBOLA]    	DEFAULT ('') 		FOR 	[ID_BOMBOLA]	,
	CONSTRAINT [DF_CARICO_MAGAZZINO_DA_DDT_CODICE_CLIENTE]    		DEFAULT ('') 		FOR 	[CODICE_CLIENTE]	,
	CONSTRAINT [DF_CARICO_MAGAZZINO_DA_DDT_CODICE_ARTICOLO] 			DEFAULT ('') 		FOR 	[CODICE_ARTICOLO],
	CONSTRAINT [DF_CARICO_MAGAZZINO_DA_DDT_BARCODE] 			DEFAULT ('') 		FOR 	[BARCODE],
	CONSTRAINT [DF_CARICO_MAGAZZINO_DA_DDT_ID_BOMBOLA_DDT]		DEFAULT ('') 		FOR 	[ID_BOMBOLA_DDT],
	CONSTRAINT [DF_CARICO_MAGAZZINO_DA_DDT_TIPO_BOMBOLA]			DEFAULT ('') 		FOR 	[TIPO_BOMBOLA]

GO
