
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[COMM_GROUP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[COMM_GROUP]
GO

CREATE TABLE [dbo].[COMM_GROUP](
	[id_unique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_COMM_GROUP_id_unique]  DEFAULT (newid()),
    [ANNO] [varchar](4) NULL CONSTRAINT [DF_COMM_GROUP_ANNO]  DEFAULT (''),
	[TAGGANCIO] [varchar](10) NULL CONSTRAINT [DF_COMM_GROUP_TAGGANCIO]  DEFAULT (''),
	[Codice] [varchar](3) NULL CONSTRAINT [DF_COMM_GROUP_Codice]  DEFAULT (''),
	[Descri] [varchar](80) NULL CONSTRAINT [DF_COMM_GROUP_Descri]  DEFAULT ('')
)
