
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[COMM_GROUP_COMP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[COMM_GROUP_COMP]
GO

CREATE TABLE [dbo].[COMM_GROUP_COMP](
	[id_unique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_COMM_GROUP_COMP_id_unique]  DEFAULT (newid()),
	[DAGGANCIO] [varchar](10) NULL CONSTRAINT [DF_COMM_GROUP_COMP_DAGGANCIO]  DEFAULT (''),
	[Conto] [varchar](13) NULL CONSTRAINT [DF_COMM_GROUP_COMP_Conto]  DEFAULT (''),
	[DesCONTO] [varchar](80) NULL CONSTRAINT [DF_COMM_GROUP_COMP_DesCONTO]  DEFAULT ('')
)
