if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[COMM_CLIENTI_TRANCHE]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[COMM_CLIENTI_TRANCHE]
GO

CREATE TABLE [dbo].[COMM_CLIENTI_TRANCHE](
	[id_unique] [uniqueidentifier] ROWGUIDCOL NOT NULL CONSTRAINT [DF_COMM_CLIENTI_TRANCHE_id_unique]  DEFAULT (newid()),
	[IDCommessaC] [varchar](32) NULL CONSTRAINT [DF_COMM_CLIENTI_TRANCHE_IDCommessaC]  DEFAULT (''),
	[CodCliTra] [varchar](10) NULL CONSTRAINT [DF_COMM_CLIENTI_TRANCHE_CodCliTra]  DEFAULT (''),
	[RagSocTra] [varchar](80) NULL CONSTRAINT [DF_COMM_CLIENTI_TRANCHE_RagSocTra]  DEFAULT (''),
	[DURATA_DAL] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_COMM_CLIENTI_TRANCHE_DURATA_DAL]  DEFAULT (''),
	[DURATA_AL] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_COMM_CLIENTI_TRANCHE_DURATA_AL]  DEFAULT (''),
	[ImpTotTra] [numeric](17, 2) NULL CONSTRAINT [DF_COMM_CLIENTI_TRANCHE_ImpTotTra]  DEFAULT ((0)),
	[NUMTRANCHE] [numeric](17, 2) NULL CONSTRAINT [DF_COMM_CLIENTI_TRANCHE_NUMTRANCHE]  DEFAULT ((0)),
	[IMPTRANCHE] [numeric](17, 2) NULL CONSTRAINT [DF_COMM_CLIENTI_TRANCHE_IMPTRANCHE]  DEFAULT ((0)),	
	[IDClientiTra] [varchar] (10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_COMM_CLIENTI_TRANCHE_IDClientiTra]  DEFAULT ('')
 CONSTRAINT [PK_COMM_CLIENTI_TRANCHE] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
