/****** Oggetto:  Table [dbo].[CONTI_DEC]    Data script: 05/22/2011 07:32:42 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CONTI_DEC]') AND type in (N'U'))
DROP TABLE [dbo].[CONTI_DEC]

/****** Oggetto:  Table [dbo].[CONTI_DEC]    Data script: 05/22/2011 04:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTI_DEC](
	[id_unique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_CONTI_DEC_id_unique]  DEFAULT (newid()),
	[CON_SOC] [varchar](2) NULL CONSTRAINT [DF_CONTI_DEC_CON_SOC]  DEFAULT (''),
	[CON_ANNO] [varchar](4) NULL CONSTRAINT [DF_CONTI_DEC_CON_ANNO]  DEFAULT (''),
	[CON_CONTO] [varchar](13) NULL CONSTRAINT [DF_CONTI_DEC_CON_CONTO]  DEFAULT (''),
	[CON_DESCR] [varchar](40) NULL CONSTRAINT [DF_CONTI_DEC_CON_DESCR]  DEFAULT (''),
	[CON_IMP_D] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_IMP_D]  DEFAULT (0),
	[CON_IMP_A] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_IMP_A]  DEFAULT (0),
	[CON_TIPOCO] [varchar](1) NULL CONSTRAINT [DF_CONTI_DEC_CON_TIPOCO]  DEFAULT (''),
	[CON_PARIVA] [varchar](11) NULL CONSTRAINT [DF_CONTI_DEC_CON_PARIVA]  DEFAULT (''),
	[CON_DA01] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_DA01]  DEFAULT (0),
	[CON_AV01] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_AV01]  DEFAULT (0),
	[CON_DA02] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_DA02]  DEFAULT (0),
	[CON_AV02] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_AV02]  DEFAULT (0),
	[CON_DA03] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_DA03]  DEFAULT (0),
	[CON_AV03] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_AV03]  DEFAULT (0),
	[CON_DA04] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_DA04]  DEFAULT (0),
	[CON_AV04] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_AV04]  DEFAULT (0),
	[CON_DA05] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_DA05]  DEFAULT (0),
	[CON_AV05] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_AV05]  DEFAULT (0),
	[CON_DA06] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_DA06]  DEFAULT (0),
	[CON_AV06] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_AV06]  DEFAULT (0),
	[CON_DA07] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_DA07]  DEFAULT (0),
	[CON_AV07] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_AV07]  DEFAULT (0),
	[CON_DA08] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_DA08]  DEFAULT (0),
	[CON_AV08] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_AV08]  DEFAULT (0),
	[CON_DA09] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_DA09]  DEFAULT (0),
	[CON_AV09] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_AV09]  DEFAULT (0),
	[CON_DA10] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_DA10]  DEFAULT (0),
	[CON_AV10] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_AV10]  DEFAULT (0),
	[CON_DA11] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_DA11]  DEFAULT (0),
	[CON_AV11] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_AV11]  DEFAULT (0),
	[CON_DA12] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_DA12]  DEFAULT (0),
	[CON_AV12] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_AV12]  DEFAULT (0),
	[CON_CLASS9] [varchar](13) NULL CONSTRAINT [DF_CONTI_DEC_CON_CLASS9]  DEFAULT (''),
	[CON_POSBIL] [varchar](1) NULL CONSTRAINT [DF_CONTI_DEC_CON_POSBIL]  DEFAULT (''),
	[CON_SALDOI] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_CON_SALDOI]  DEFAULT (0),
	[CON_IVASN] [bit] NULL CONSTRAINT [DF_CONTI_DEC_CON_IVASN]  DEFAULT (0),
	[CON_NUMPAR] [varchar](13) NULL CONSTRAINT [DF_CONTI_DEC_CON_NUMPAR]  DEFAULT (''),
	[SELEZIONE] [varchar](3) NULL CONSTRAINT [DF_CONTI_DEC_SELEZIONE]  DEFAULT (''),
	[CON_ABILIT] [varchar](1) NULL CONSTRAINT [DF_CONTI_DEC_CON_ABILIT]  DEFAULT (''),
	[CON_CCO] [varchar](13) NULL CONSTRAINT [DF_CONTI_DEC_CON_CCO]  DEFAULT (''),
	[CON_CCO1] [varchar](13) NULL CONSTRAINT [DF_CONTI_DEC_CON_CCO1]  DEFAULT (''),
	[CON_CCO2] [varchar](13) NULL CONSTRAINT [DF_CONTI_DEC_CON_CCO2]  DEFAULT (''),
	[CON_CCO3] [varchar](13) NULL CONSTRAINT [DF_CONTI_DEC_CON_CCO3]  DEFAULT (''),
	[CON_CCO4] [varchar](13) NULL CONSTRAINT [DF_CONTI_DEC_CON_CCO4]  DEFAULT (''),
	[DA_SALDOI] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_DA_SALDOI]  DEFAULT (0),
	[CON_VALUTA] [varchar](3) NULL CONSTRAINT [DF_CONTI_DEC_CON_VALUTA]  DEFAULT (''),
	[CON_FLGCCO] [bit] NULL CONSTRAINT [DF_CONTI_DEC_CON_FLGCCO]  DEFAULT (0),
	[CON_CONOLD] [varchar](13) NULL CONSTRAINT [DF_CONTI_DEC_CON_CONOLD]  DEFAULT (''),
	[PRE_IMP_D] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_IMP_D]  DEFAULT (0),
	[PRE_IMP_A] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_IMP_A]  DEFAULT (0),
	[PRE_DA01] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_DA01]  DEFAULT (0),
	[PRE_AV01] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_AV01]  DEFAULT (0),
	[PRE_DA02] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_DA02]  DEFAULT (0),
	[PRE_AV02] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_AV02]  DEFAULT (0),
	[PRE_DA03] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_DA03]  DEFAULT (0),
	[PRE_AV03] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_AV03]  DEFAULT (0),
	[PRE_DA04] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_DA04]  DEFAULT (0),
	[PRE_AV04] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_AV04]  DEFAULT (0),
	[PRE_DA05] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_DA05]  DEFAULT (0),
	[PRE_AV05] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_AV05]  DEFAULT (0),
	[PRE_DA06] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_DA06]  DEFAULT (0),
	[PRE_AV06] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_AV06]  DEFAULT (0),
	[PRE_DA07] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_DA07]  DEFAULT (0),
	[PRE_AV07] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_AV07]  DEFAULT (0),
	[PRE_DA08] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_DA08]  DEFAULT (0),
	[PRE_AV08] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_AV08]  DEFAULT (0),
	[PRE_DA09] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_DA09]  DEFAULT (0),
	[PRE_AV09] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_AV09]  DEFAULT (0),
	[PRE_DA10] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_DA10]  DEFAULT (0),
	[PRE_AV10] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_AV10]  DEFAULT (0),
	[PRE_DA11] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_DA11]  DEFAULT (0),
	[PRE_AV11] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_AV11]  DEFAULT (0),
	[PRE_DA12] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_DA12]  DEFAULT (0),
	[PRE_AV12] [numeric](27, 10) NULL CONSTRAINT [DF_CONTI_DEC_PRE_AV12]  DEFAULT (0),
	[CON_CATEG] [varchar](6) NULL CONSTRAINT [DF_CONTI_DEC_CON_CATEG]  DEFAULT (''),
	[CON_FATTURA] [numeric](18, 3) NULL CONSTRAINT [DF_CONTI_DEC_CON_FATTURA]  DEFAULT (0),
	[CON_NOTAC] [numeric](18, 3) NULL CONSTRAINT [DF_CONTI_DEC_CON_NOTAC]  DEFAULT (0),
	[PRE_FATTURA] [numeric](18, 3) NULL CONSTRAINT [DF_CONTI_DEC_PRE_FATTURA]  DEFAULT (0),
	[PRE_NOTAC] [numeric](18, 3) NULL CONSTRAINT [DF_CONTI_DEC_PRE_NOTAC]  DEFAULT (0),
	[CON_CODRAG] [varchar](8) NULL CONSTRAINT [DF_CONTI_DEC_CON_CODRAG]  DEFAULT (''),
	[CON_DESRAG] [varchar](50) NULL CONSTRAINT [DF_CONTI_DEC_CON_DESRAG]  DEFAULT (''),
	[CON_CODCON] [varchar](8) NULL CONSTRAINT [DF_CONTI_DEC_CON_CODCON]  DEFAULT (''),
	[CON_DESCON] [varchar](50) NULL CONSTRAINT [DF_CONTI_DEC_CON_DESCON]  DEFAULT (''),
	[CHI_DARE] [numeric](18, 3) NULL CONSTRAINT [DF_CONTI_DEC_CHI_DARE]  DEFAULT (0),
	[CHI_AVERE] [numeric](18, 3) NULL CONSTRAINT [DF_CONTI_DEC_CHI_AVERE]  DEFAULT (0),
	[CON_PERCO1] [numeric](10, 3) NULL CONSTRAINT [DF_CONTI_DEC_CON_PERCO1]  DEFAULT (0),
	[CON_PERCO2] [numeric](10, 3) NULL CONSTRAINT [DF_CONTI_DEC_CON_PERCO2]  DEFAULT (0),
	[CON_PERCO3] [numeric](10, 3) NULL CONSTRAINT [DF_CONTI_DEC_CON_PERCO3]  DEFAULT (0),
	[CON_PERCO4] [numeric](10, 3) NULL CONSTRAINT [DF_CONTI_DEC_CON_PERCO4]  DEFAULT (0),
	[CON_PERCO5] [numeric](10, 3) NULL CONSTRAINT [DF_CONTI_DEC_CON_PERCO5]  DEFAULT (0),
	[CON_CODRA2] [varchar](8) NULL CONSTRAINT [DF_CONTI_DEC_CON_CODRA2]  DEFAULT (''),
	[CON_CODCO2] [varchar](8) NULL CONSTRAINT [DF_CONTI_DEC_CON_CODCO2]  DEFAULT (''),
	[CON_DESRA2] [varchar](50) NULL CONSTRAINT [DF_CONTI_DEC_CON_DESRA2]  DEFAULT (''),
	[CON_DESCO2] [varchar](50) NULL CONSTRAINT [DF_CONTI_DEC_CON_DESCO2]  DEFAULT (''),
	[CON_CODAMM] [varchar](10) NULL CONSTRAINT [DF_CONTI_DEC_CON_CODAMM]  DEFAULT (''),
	[CON_CODCES] [varchar](16) NULL CONSTRAINT [DF_CONTI_DEC_CON_CODCES]  DEFAULT (''),
	[con_nocomme] [bit] NULL CONSTRAINT [DF_CONTI_DEC_con_nocomme]  DEFAULT ((0)),
 CONSTRAINT [PK_CONTI_DEC] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF