	
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CORSCELT]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[CORSCELT]
GO

/****** Object:  Table [dbo].[CORSCELT]    Script Date: 01/10/2007 10.09.01 ******/
CREATE TABLE [CORSCELT] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[DAGGANCIO] 	[varchar] (32)	COLLATE Latin1_General_CI_AS NULL ,
	[IDCORSCELT] 	[varchar] (32)	COLLATE Latin1_General_CI_AS NULL ,     
	[IDCONTATTOC]	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,     
	[IDAREA] 	  	[varchar] (32)	COLLATE Latin1_General_CI_AS NOT NULL ,
	[IDAREACORS]	[varchar] (32)	COLLATE Latin1_General_CI_AS NULL ,   
	[ORARIO] 	  	[varchar] (5)	COLLATE Latin1_General_CI_AS NULL ,   
	[GIORNI] 	  	[varchar] (10)	COLLATE Latin1_General_CI_AS NULL ,  
	[ORDINE] 	  	[numeric] (3, 0) NULL 
	
	
) ON [PRIMARY] 
GO

ALTER TABLE [dbo].[CORSCELT] WITH NOCHECK ADD 
	CONSTRAINT [PK_CORSCELT] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[CORSCELT] WITH NOCHECK ADD 
	CONSTRAINT [DF_CORSCELT_id_unique] 			DEFAULT (newid()) FOR 	[id_unique],
	CONSTRAINT [DF_CORSCELT_DAGGANCIO] 		DEFAULT ('') FOR 		[DAGGANCIO],
	CONSTRAINT [DF_CORSCELT_IDCORSCELT]     	DEFAULT ('') FOR 		[IDCORSCELT]     ,
	CONSTRAINT [DF_CORSCELT_IDCONTATTOC]  		DEFAULT ('') FOR 		[IDCONTATTOC]  ,
	CONSTRAINT [DF_CORSCELT_IDAREA] 	    		DEFAULT ('') FOR 	[IDAREA] 	   ,
	CONSTRAINT [DF_CORSCELT_IDAREACORS] 		DEFAULT ('') FOR 		[IDAREACORS]   ,
	CONSTRAINT [DF_CORSCELT_ORARIO] 	  	   	DEFAULT ('') FOR 		[ORARIO] 	  , 
	CONSTRAINT [DF_CORSCELT_GIORNI] 	      	   	DEFAULT ('') FOR 	[GIORNI] 	  , 
    CONSTRAINT [DF_CORSCELT_ORDINE] 	           	DEFAULT ('') FOR 	[ORDINE]	

GO  