/* 
**************************************************************
ELIMINAZIONE TABELLA
**************************************************************
*/


if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_ABICAB]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_ABICAB]
GO  

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_AGENTI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_AGENTI]
GO  

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_ANAMAGA]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_ANAMAGA]
GO  

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_ANARTIC]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_ANARTIC]
GO  

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_ANCICLI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_ANCICLI]
GO  

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_ANDB]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_ANDB]
GO  

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_ANFOR]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_ANFOR]
GO  


if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_BARCODE]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_BARCODE]
GO  


if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_CAUSMAGA]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_CAUSMAGA]
GO  


if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_CENTRCOS]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_CENTRCOS]
GO  


if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_CFVEN]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_CFVEN]
GO  

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_CLIFO]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_CLIFO]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_CODDOGAN]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_CODDOGAN]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_CPG]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_CPG]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_DESARTLI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_DESARTLI]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_DESASBEN]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_DESASBEN]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_DESCOIVA]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_DESCOIVA]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_DESCPGLI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_DESCPGLI]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_DESMSPLI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_DESMSPLI]
GO  

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_DESPORTI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_DESPORTI]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_GRUPMERC]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_GRUPMERC]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_INDSPED]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_INDSPED]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_INTRA]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_INTRA]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_LAVT]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_LAVT]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_LINGUE]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_LINGUE]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_MODSPEDI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_MODSPEDI]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_MOVCO]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_MOVCO]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_MOVCO2]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_MOVCO2]
GO  

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_MOVIMAG]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_MOVIMAG]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_MOVIVA]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_MOVIVA]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_NOTE]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_NOTE]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_PIACON]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_PIACON]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_PIANIF]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_PIANIF]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_RIGDIS]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_RIGDIS]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_SCADENZE]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_SCADENZE]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_SERVIZI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_SERVIZI]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_STATIEST]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_STATIEST]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TABCONT]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TABCONT]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TABDIST]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TABDIST]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TABFASE]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TABFASE]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TABIVA]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TABIVA]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TABMAGAZ]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TABMAGAZ]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TABMANS]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TABMANS]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TABPORTI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TABPORTI]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TABRIAZ]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TABRIAZ]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TABRILIS]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TABRILIS]
GO  
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TABTC]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TABTC]

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TABTELIS]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TABTELIS]
GO
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TABUM]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TABUM]
GO
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TABVALUT]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TABVALUT]
GO
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TATRIB]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TATRIB]
GO  

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TAZOCO]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TAZOCO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TESDIS]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TESDIS]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TESDOCUM]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TESDOCUM]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TIPODOCU]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TIPODOCU]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARD_TPAS770]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[CARD_TPAS770]
GO










































