/* 
**************************************************************
ELIMINAZIONE TABELLA
**************************************************************
*/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[U_FAT_ED]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[U_FAT_ED]
GO  
