/* 
**************************************************************
ELIMINAZIONE TABELLA
**************************************************************
*/


if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AQ_CONTRATTI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[AQ_CONTRATTI]
GO  

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AQ_RIFERIMENTI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[AQ_RIFERIMENTI]
GO  

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AQ_SCHEDE]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[AQ_SCHEDE]
GO  

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AQ_SCHEDEBRU]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[AQ_SCHEDEBRU]
GO  

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AQ_SCHEDECALD]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[AQ_SCHEDECALD]
GO  

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AQ_SCHEDECONTR]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[AQ_SCHEDECONTR]
GO  






