/****** Oggetto:  Index [ACQ_VEN]    Data script: 12/20/2012 17:09:22 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[U_MAG_MO]') AND name = N'ACQ_VEN')
DROP INDEX [ACQ_VEN] ON [dbo].[U_MAG_MO] WITH ( ONLINE = OFF )
GO

/****** Oggetto:  Index [ACQ_VEN]    Data script: 12/20/2012 17:09:18 ******/
CREATE NONCLUSTERED INDEX [ACQ_VEN] ON [dbo].[U_MAG_MO] 
(
	[MOV_DTDOCU] ASC,
	[MOV_ANAART] ASC,
	[MOV_SEGNO] ASC,
	[MOV_UM] ASC,
	[MOV_QTAMOV] ASC,
	[MOV_VALACQ] ASC,
	[MOV_VALVEN] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]
GO
