
if exists (select * from dbo.sysobjects where id = object_id(N'[INTERVC]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [INTERVC]
GO

CREATE TABLE [INTERVC] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[DAGGANCIO]     	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[ID_INTERVISTATORE]	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[ID_COLLOQUIO] 		[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,	
	[IDRISUMANA] 		[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[RISUMANA] 			[varchar] (175) COLLATE Latin1_General_CI_AS NOT NULL ,
	[ORDINE]   			[numeric] (3, 0) NULL 
) ON [PRIMARY]
GO


ALTER TABLE [INTERVC] WITH NOCHECK ADD 
	CONSTRAINT [PK_INTERVC] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[INTERVC] WITH NOCHECK ADD 
	CONSTRAINT [DF_INTERVC_id_unique] 		DEFAULT (newid()) FOR [id_unique],
	CONSTRAINT [DF_INTERVC_DAGGANCIO] 		DEFAULT ('') FOR [DAGGANCIO],     
	CONSTRAINT [DF_INTERVC_ID_INTERVISTATORE]	DEFAULT ('') FOR [ID_INTERVISTATORE],
	CONSTRAINT [DF_INTERVC_ID_COLLOQUIO]	DEFAULT ('') FOR [ID_COLLOQUIO],	
	CONSTRAINT [DF_INTERVC_IDRISUMANA] 	DEFAULT ('') FOR [IDRISUMANA], 	  
	CONSTRAINT [DF_INTERVC_RISUMANA] 	DEFAULT ('') FOR [RISUMANA], 	  
	CONSTRAINT [DF_INTERVC_ORDINE] 		DEFAULT (0) FOR  [ORDINE]   		   
GO
