	
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[INTRA_CES_BENI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[INTRA_CES_BENI]
GO

/****** Object:  Table [dbo].[INTRA_CES_BENI]    Script Date: 26/02/2015 ******/
CREATE TABLE [INTRA_CES_BENI] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
    [NUMERO_PROGR_RIGA_7]		    [varchar] (5) COLLATE Latin1_General_CI_AS NULL ,
	[ANNO_MESE_RETT_7]				[varchar] (7) COLLATE Latin1_General_CI_AS NULL ,	
	[MESE_RIF_RIEP_DA_RETT_7]		[varchar] (2) COLLATE Latin1_General_CI_AS NULL ,
	[TRIM_RIF_RIEP_DA_RETT_7]		[varchar] (1) COLLATE Latin1_General_CI_AS NULL ,
	[ANNO_RIF_RIEP_DA_RETT_7]		[varchar] (2) COLLATE Latin1_General_CI_AS  NULL ,
	[STATO_MEMBRO_ACQUIR_7]			[varchar] (2) COLLATE Latin1_General_CI_AS  NULL ,
	[CODICE_IVA_ACQUIR_7]		 	[varchar] (12) COLLATE Latin1_General_CI_AS  NULL ,
	[SEGNO_VARIAZ_ATTRIB_7] 		[varchar] (1) COLLATE Latin1_General_CI_AS  NULL ,
	[AMMONTARE_OPERAZ_EUR_7] 		[varchar] (13) COLLATE Latin1_General_CI_AS  NULL ,
	[NATURA_TRANS_7]		 		[varchar] (1) COLLATE Latin1_General_CI_AS  NULL ,
	[NOMENCLAT_COMB_MERCE_7] 		[varchar] (8) COLLATE Latin1_General_CI_AS  NULL,
	[VAL_STAT_EUR_7] 				[varchar] (13)  COLLATE Latin1_General_CI_AS NULL


	
	
) ON [PRIMARY] 
GO

ALTER TABLE [dbo].[INTRA_CES_BENI] WITH NOCHECK ADD 
	CONSTRAINT [PK_INTRA_CES_BENI] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[INTRA_CES_BENI] WITH NOCHECK ADD 
	CONSTRAINT [DF_INTRA_CES_BENI_id_unique] 					DEFAULT (newid()) FOR 	[id_unique]	,
	CONSTRAINT [DF_INTRA_CES_BENI_NUMERO_PROGR_RIGA_7] 			DEFAULT ('') FOR [NUMERO_PROGR_RIGA_7],
	CONSTRAINT [DF_INTRA_ACQ_BENI_ANNO_MESE_RETT_7] 			DEFAULT ('') FOR [ANNO_MESE_RETT_7],
	CONSTRAINT [DF_INTRA_CES_BENI_MESE_RIF_RIEP_DA_RETT_7] 		DEFAULT ('') FOR [MESE_RIF_RIEP_DA_RETT_7],
	CONSTRAINT [DF_INTRA_CES_BENI_TRIM_RIF_RIEP_DA_RETT_7] 		DEFAULT ('') FOR [TRIM_RIF_RIEP_DA_RETT_7],
	CONSTRAINT [DF_INTRA_CES_BENI_ANNO_RIF_RIEP_DA_RETT_7] 		DEFAULT ('') FOR [ANNO_RIF_RIEP_DA_RETT_7],
	CONSTRAINT [DF_INTRA_CES_BENI_STATO_MEMBRO_ACQUIR_7] 		DEFAULT ('') FOR [STATO_MEMBRO_ACQUIR_7],
	CONSTRAINT [DF_INTRA_CES_BENI_CODICE_IVA_ACQUIR_7] 			DEFAULT ('') FOR [CODICE_IVA_ACQUIR_7],
	CONSTRAINT [DF_INTRA_CES_BENI_SEGNO_VARIAZ_ATTRIB_7] 		DEFAULT ('') FOR [SEGNO_VARIAZ_ATTRIB_7],
	CONSTRAINT [DF_INTRA_CES_BENI_AMMONTARE_OPERAZ_EUR_7] 		DEFAULT ('') FOR [AMMONTARE_OPERAZ_EUR_7],
	CONSTRAINT [DF_INTRA_CES_BENI_NATURA_TRANS_7] 				DEFAULT ('') FOR [NATURA_TRANS_7],
	CONSTRAINT [DF_INTRA_CES_BENI_NOMENCLAT_COMB_MERCE_7] 		DEFAULT ('') FOR [NOMENCLAT_COMB_MERCE_7],
	CONSTRAINT [DF_INTRA_CES_BENI_VAL_STAT_EUR_7] 				DEFAULT ('') FOR [VAL_STAT_EUR_7]
GO
