	
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[INTRA_ACQ_BENI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[INTRA_ACQ_BENI]
GO

/****** Object:  Table [dbo].[INTRA_ACQ_BENI]    Script Date: 26/02/2015 ******/
CREATE TABLE [INTRA_ACQ_BENI] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[NUMERO_PROGR_RIGA_5]		    [varchar] (5) COLLATE Latin1_General_CI_AS NULL ,
	[ANNO_MESE_RETT_5]				[varchar] (7) COLLATE Latin1_General_CI_AS NULL ,
	[MESE_RIF_RIEP_DA_RETT_5]		[varchar] (2) COLLATE Latin1_General_CI_AS NULL ,
	[TRIM_RIF_RIEP_DA_RETT_5]		[varchar] (1) COLLATE Latin1_General_CI_AS NULL ,
	[ANNO_RIF_RIEP_DA_RETT_5]		[varchar] (2) COLLATE Latin1_General_CI_AS  NULL ,
	[STATO_MEMBRO_ACQUIR_5]			[varchar] (2) COLLATE Latin1_General_CI_AS  NULL ,
	[CODICE_IVA_ACQUIR_5]		 	[varchar] (12) COLLATE Latin1_General_CI_AS  NULL ,
	[SEGNO_VARIAZ_ATTRIB_5] 		[varchar] (1) COLLATE Latin1_General_CI_AS  NULL ,
	[AMMONTARE_OPERAZ_EUR_5] 		[varchar] (13) COLLATE Latin1_General_CI_AS  NULL ,
	[AMMONTARE_OPERAZ_VALUTA_5] 	[varchar] (13) COLLATE Latin1_General_CI_AS  NULL ,
	[NATURA_TRANS_5]		 		[varchar] (1) COLLATE Latin1_General_CI_AS  NULL ,
	[NOMENCLAT_COMB_MERCE_5] 		[varchar] (8) COLLATE Latin1_General_CI_AS  NULL,
	[VAL_STAT_EUR_5] 				[varchar] (13)  COLLATE Latin1_General_CI_AS NULL


	
	
) ON [PRIMARY] 
GO

ALTER TABLE [dbo].[INTRA_ACQ_BENI] WITH NOCHECK ADD 
	CONSTRAINT [PK_INTRA_ACQ_BENI] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[INTRA_ACQ_BENI] WITH NOCHECK ADD 
	CONSTRAINT [DF_INTRA_ACQ_BENI_id_unique] 					DEFAULT (newid()) FOR 	[id_unique]	,	
	CONSTRAINT [DF_INTRA_ACQ_BENI_NUMERO_PROGR_RIGA_5] 			DEFAULT ('') FOR [NUMERO_PROGR_RIGA_5],
	CONSTRAINT [DF_INTRA_ACQ_BENI_ANNO_MESE_RETT_5] 			DEFAULT ('') FOR [ANNO_MESE_RETT_5],
	CONSTRAINT [DF_INTRA_ACQ_BENI_MESE_RIF_RIEP_DA_RETT_5] 		DEFAULT ('') FOR [MESE_RIF_RIEP_DA_RETT_5],
	CONSTRAINT [DF_INTRA_ACQ_BENI_TRIM_RIF_RIEP_DA_RETT_5] 		DEFAULT ('') FOR [TRIM_RIF_RIEP_DA_RETT_5],
	CONSTRAINT [DF_INTRA_ACQ_BENI_ANNO_RIF_RIEP_DA_RETT_5] 		DEFAULT ('') FOR [ANNO_RIF_RIEP_DA_RETT_5],
	CONSTRAINT [DF_INTRA_ACQ_BENI_STATO_MEMBRO_ACQUIR_5] 		DEFAULT ('') FOR [STATO_MEMBRO_ACQUIR_5],
	CONSTRAINT [DF_INTRA_ACQ_BENI_CODICE_IVA_ACQUIR_5] 			DEFAULT ('') FOR [CODICE_IVA_ACQUIR_5],
	CONSTRAINT [DF_INTRA_ACQ_BENI_SEGNO_VARIAZ_ATTRIB_5] 		DEFAULT ('') FOR [SEGNO_VARIAZ_ATTRIB_5],
	CONSTRAINT [DF_INTRA_ACQ_BENI_AMMONTARE_OPERAZ_EUR_5] 		DEFAULT ('') FOR [AMMONTARE_OPERAZ_EUR_5],
	CONSTRAINT [DF_INTRA_ACQ_BENI_AMMONTARE_OPERAZ_VALUTA_5] 	DEFAULT ('') FOR [AMMONTARE_OPERAZ_VALUTA_5],
	CONSTRAINT [DF_INTRA_ACQ_BENI_NATURA_TRANS_5] 				DEFAULT ('') FOR [NATURA_TRANS_5],
	CONSTRAINT [DF_INTRA_ACQ_BENI_NOMENCLAT_COMB_MERCE_5] 		DEFAULT ('') FOR [NOMENCLAT_COMB_MERCE_5],
	CONSTRAINT [DF_INTRA_ACQ_BENI_VAL_STAT_EUR_5] 				DEFAULT ('') FOR [VAL_STAT_EUR_5]
GO
