/****** Object:  Table [dbo].[LINGUECU]    Script Date: 18/08/2007 11.32.41 ******/

if exists (select * from dbo.sysobjects where id = object_id(N'[LINGUECU]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [LINGUECU]
GO

CREATE TABLE [LINGUECU] (
	[ID_UNIQUE]	  	uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[DAGGANCIO]   	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDLINGUECU]  	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDLINGUA]    	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[B_MADRELING] 	[varchar] (1) COLLATE Latin1_General_CI_AS  NULL ,
	[SCRITTO] 	   	[varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[ASCOLTO] 	   	[varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[LETTURA] 	   	[varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[INTERAZIONE] 	[varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[PRODUZORALE] 	[varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[ORDINE]      	[numeric] (3,0) NULL 
) ON [PRIMARY] 
GO

ALTER TABLE [dbo].[LINGUECU] WITH NOCHECK ADD 
	CONSTRAINT [PK_LINGUECU] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[LINGUECU] WITH NOCHECK ADD 
	CONSTRAINT [DF_LINGUECU_ID_UNIQUE] 		DEFAULT (newid()) FOR [ID_UNIQUE],
	CONSTRAINT [DF_LINGUECU_DAGGANCIO] 		DEFAULT ('') FOR [DAGGANCIO] 	,	  
	CONSTRAINT [DF_LINGUECU_IDLINGUECU] 	DEFAULT ('') FOR [IDLINGUECU] 	,  
	CONSTRAINT [DF_LINGUECU_IDLINGUA]   	DEFAULT ('') FOR [IDLINGUA]   	,  
	CONSTRAINT [DF_LINGUECU_B_MADRELING]	DEFAULT ('') FOR [B_MADRELING]	,  
	CONSTRAINT [DF_LINGUECU_SCRITTO] 	    DEFAULT ('') FOR [SCRITTO] 	    , 
	CONSTRAINT [DF_LINGUECU_ASCOLTO] 	    DEFAULT ('') FOR [ASCOLTO] 	    , 
	CONSTRAINT [DF_LINGUECU_LETTURA] 	    DEFAULT ('') FOR [LETTURA] 	    , 
	CONSTRAINT [DF_LINGUECU_INTERAZIONE]  	DEFAULT ('') FOR [INTERAZIONE]  ,	
	CONSTRAINT [DF_LINGUECU_PRODUZORALE]  	DEFAULT ('') FOR [PRODUZORALE]  ,	
	CONSTRAINT [DF_LINGUECU_ORDINE] 		DEFAULT (0) FOR  [ORDINE]
GO


