if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[LOG_BUDGET_TO_COMMESSA]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[LOG_BUDGET_TO_COMMESSA]
GO

CREATE TABLE [dbo].[LOG_BUDGET_TO_COMMESSA](
	[id_unique] [uniqueidentifier] ROWGUIDCOL NOT NULL CONSTRAINT [DF_LOG_BUDGET_TO_COMMESSA_id_unique]  DEFAULT (newid()),
	[IDCOMMESSA] [varchar](32) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LOG_BUDGET_TO_COMMESSA_IDCOMMESSA]  DEFAULT (''),
	[IDBUDGET] [varchar] (32) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LOG_BUDGET_TO_COMMESSA_IDBUDGET]  DEFAULT (''),	
	[DATA] [varchar] (10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LOG_BUDGET_TO_COMMESSA_DATA]  DEFAULT (''),	
	[ORA] [varchar](8) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LOG_BUDGET_TO_COMMESSA_ORA]  DEFAULT (''),
	[UTENTE] [varchar](50) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LOG_BUDGET_TO_COMMESSA_UTENTE]  DEFAULT ('')
 CONSTRAINT [PK_LOG_BUDGET_TO_COMMESSA] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO