if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MENU]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[MENU]
GO

/****** Object:  Table [dbo].[MENU]    Script Date: 23/08/2007 5.41.01 ******/
CREATE TABLE [MENU] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[CODICE] 			[varchar] (30) COLLATE Latin1_General_CI_AS NULL ,
	[DESCRIZIONE]		[varchar] (60) COLLATE Latin1_General_CI_AS NULL ,
	[FLAG]			 	[varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[RUOLI]			 	[varchar] (30) COLLATE Latin1_General_CI_AS NULL ,
	[LINK]			 	[varchar] (200) COLLATE Latin1_General_CI_AS NULL ,
	[ORDINE]		 	[varchar] (4) COLLATE Latin1_General_CI_AS NULL,
	[COLORE]		 	[varchar] (20) COLLATE Latin1_General_CI_AS NULL,
	[DIMENSIONE]		[varchar] (3) COLLATE Latin1_General_CI_AS NULL,
	[IMMAGINE]		 	[varchar] (250) COLLATE Latin1_General_CI_AS NULL,
	[UTENTE] 		 	[text] COLLATE Latin1_General_CI_AS NULL,
	[TESTO] 		 	[varchar] (150) COLLATE Latin1_General_CI_AS NULL
) ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MENU] WITH NOCHECK ADD 
	CONSTRAINT [PK_MENU] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MENU] WITH NOCHECK ADD 
	CONSTRAINT [DF_MENU_id_unique] DEFAULT (newid()) FOR [id_unique],
	CONSTRAINT [DF_MENU_CODICE] DEFAULT ('') FOR [CODICE],
	CONSTRAINT [DF_MENU_DESCRIZIONE] DEFAULT ('') FOR [DESCRIZIONE],
	CONSTRAINT [DF_MENU_FLAG] DEFAULT ('') FOR [FLAG],
	CONSTRAINT [DF_MENU_RUOLI] DEFAULT ('') FOR [RUOLI],
	CONSTRAINT [DF_MENU_LINK] DEFAULT ('') FOR [LINK],
	CONSTRAINT [DF_MENU_ORDINE] DEFAULT ('') FOR [ORDINE],
	CONSTRAINT [DF_MENU_COLORE] DEFAULT ('') FOR [COLORE],
	CONSTRAINT [DF_MENU_DIMENSIONE] DEFAULT ('') FOR [DIMENSIONE],
	CONSTRAINT [DF_MENU_IMMAGINE] DEFAULT ('') FOR [IMMAGINE],
	CONSTRAINT [DF_MENU_UTENTE]   DEFAULT ('') 			FOR 	[UTENTE],
	CONSTRAINT [DF_MENU_TESTO]   DEFAULT ('') 			FOR 	[TESTO]
GO

