
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[MOV_CONT]') AND name = N'MOV_CONT_TOP_DTREG_INDEX')
DROP INDEX [MOV_CONT_TOP_DTREG_INDEX] ON [dbo].[MOV_CONT] WITH ( ONLINE = OFF )
GO


CREATE NONCLUSTERED INDEX [MOV_CONT_TOP_DTREG_INDEX] ON [dbo].[MOV_CONT] 
(
	[MOV_SOC] ASC,
	[MOV_TOP] ASC,
	[MOV_DTREG] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]
GO
