	
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MOVIMENTI_BOMBOLE]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[MOVIMENTI_BOMBOLE]
GO

/****** Object:  Table [dbo].[MOVIMENTI_BOMBOLE]    Script Date: 23/08/2007 5.41.01 ******/
CREATE TABLE [MOVIMENTI_BOMBOLE] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[ID_BOMBOLA]  		[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[CODICE_CLIENTE]  	[varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[CODICE_ARTICOLO]   [varchar] (30) COLLATE Latin1_General_CI_AS NULL ,
	[BARCODE]   		[varchar] (7) COLLATE Latin1_General_CI_AS NULL ,
	[ID_BOMBOLA_DDT] 	[varchar] (10)  COLLATE Latin1_General_CI_AS NULL 	,
	[TIPO_BOMBOLA] 		[varchar] (1)  COLLATE Latin1_General_CI_AS NULL     
    
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MOVIMENTI_BOMBOLE] WITH NOCHECK ADD 
	CONSTRAINT [PK_MOVIMENTI_BOMBOLE] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MOVIMENTI_BOMBOLE] WITH NOCHECK ADD 
	CONSTRAINT [DF_MOVIMENTI_BOMBOLE_id_unique] 		DEFAULT (newid()) 	FOR 	[id_unique]	,
	CONSTRAINT [DF_MOVIMENTI_BOMBOLE_ID_BOMBOLA]    	DEFAULT ('') 		FOR 	[ID_BOMBOLA]	,
	CONSTRAINT [DF_MOVIMENTI_BOMBOLE_CODICE_CLIENTE]    		DEFAULT ('') 		FOR 	[CODICE_CLIENTE]	,
	CONSTRAINT [DF_MOVIMENTI_BOMBOLE_CODICE_ARTICOLO] 			DEFAULT ('') 		FOR 	[CODICE_ARTICOLO],
	CONSTRAINT [DF_MOVIMENTI_BOMBOLE_BARCODE] 			DEFAULT ('') 		FOR 	[BARCODE],
	CONSTRAINT [DF_MOVIMENTI_BOMBOLE_ID_BOMBOLA_DDT]		DEFAULT ('') 		FOR 	[ID_BOMBOLA_DDT],
	CONSTRAINT [DF_MOVIMENTI_BOMBOLE_TIPO_BOMBOLA]			DEFAULT ('') 		FOR 	[TIPO_BOMBOLA]

GO
