if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PROSPRA]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[PROSPRA]
GO


/****** Object:  Table [dbo].[PROSPRA]    Script Date: 18/09/2007 16.30.01 ******/
CREATE TABLE [PROSPRA] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[IDPROSPRA]			[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[CODICE] 			[varchar] (16) COLLATE Latin1_General_CI_AS NULL ,	
	[RAGSOC]    		[varchar] (100) COLLATE Latin1_General_CI_AS  NULL ,
	[INDIRIZ]     		[varchar] (100) COLLATE Latin1_General_CI_AS  NULL ,
	[COMUNEIND] 		[varchar] (40)COLLATE Latin1_General_CI_AS NULL ,
	[CAP] 				[varchar] (5) COLLATE Latin1_General_CI_AS NULL ,
	[EMAIL] 			[text] COLLATE Latin1_General_CI_AS NULL ,
	[SITOWEB] 			[text] COLLATE Latin1_General_CI_AS NULL ,
	[TELEFONO] 			[varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[FAX] 				[varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[UTENTEINS] 		[varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[D_DATAINS] 		[varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[UTENTEMOD] 		[varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[D_DATAMOD] 		[varchar] (50) COLLATE Latin1_General_CI_AS NULL 

) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[PROSPRA] WITH NOCHECK ADD 
	CONSTRAINT [PK_PROSPRA] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[PROSPRA] WITH NOCHECK ADD 
	CONSTRAINT [DF_PROSPRA_id_unique] 			DEFAULT (newid()) FOR 	[id_unique],
	CONSTRAINT [DF_PROSPRA_IDPROSPRA]			DEFAULT ('') FOR 		[IDPROSPRA],
	CONSTRAINT [DF_PROSPRA_CODICE]   			DEFAULT ('') FOR 		[CODICE]   ,
	CONSTRAINT [DF_PROSPRA_RAGSOC]   			DEFAULT ('') FOR 		[RAGSOC]   ,
	CONSTRAINT [DF_PROSPRA_INDIRIZ]  			DEFAULT ('') FOR 		[INDIRIZ]  ,
	CONSTRAINT [DF_PROSPRA_COMUNEIND]  			DEFAULT ('') FOR 		[COMUNEIND],
	CONSTRAINT [DF_PROSPRA_CAP] 	        	DEFAULT ('') FOR 		[CAP] ,
	CONSTRAINT [DF_PROSPRA_EMAIL]     			DEFAULT ('') FOR 		[EMAIL] ,
	CONSTRAINT [DF_PROSPRA_SITOWEB]   			DEFAULT ('') FOR 		[SITOWEB]   ,
    CONSTRAINT [DF_PROSPRA_TELEFONO]     		DEFAULT ('') FOR 		[TELEFONO]  ,
    CONSTRAINT [DF_PROSPRA_FAX] 	            DEFAULT ('') FOR        [FAX] 	    ,
    CONSTRAINT [DF_PROSPRA_UTENTEINS]           DEFAULT ('') FOR        [UTENTEINS] ,
    CONSTRAINT [DF_PROSPRA_D_DATAINS]           DEFAULT ('') FOR        [D_DATAINS] ,
    CONSTRAINT [DF_PROSPRA_UTENTEMOD]           DEFAULT ('') FOR        [UTENTEMOD] ,
    CONSTRAINT [DF_PROSPRA_D_DATAMOD]           DEFAULT ('') FOR        [D_DATAMOD] 
                                                                                    
GO                                              
                                                
                                                