if exists (select * from dbo.sysobjects where id = object_id(N'[RisUBanc]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [RisUBanc]
GO

CREATE TABLE [RisUBanc] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[DAGGANCIO]     [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[ID_RISUBANC] 	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[DESCBANCA] 	[varchar] (150) COLLATE Latin1_General_CI_AS NULL ,
	[INTESTATAR] 	[varchar] (150) COLLATE Latin1_General_CI_AS NULL ,
	[ABI] 		[varchar] (5) COLLATE Latin1_General_CI_AS NULL ,
	[CAB] 		[varchar] (5) COLLATE Latin1_General_CI_AS NULL ,
	[CCN]   	[varchar] (20) COLLATE Latin1_General_CI_AS NULL ,
	[CIN]   	[varchar] (1) COLLATE Latin1_General_CI_AS NULL ,
	[B_RIFER]  	[varchar] (1) COLLATE Latin1_General_CI_AS NULL ,
	[ORDINE]   	[numeric] (3, 0) NULL 
) ON [PRIMARY]
GO


ALTER TABLE [dbo].[RisUBanc] WITH NOCHECK ADD 
	CONSTRAINT [PK_RisUBanc] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[RisUBanc] WITH NOCHECK ADD 
	CONSTRAINT [DF_RisUBanc_id_unique] DEFAULT (newid()) FOR [id_unique],
	CONSTRAINT [DF_RisUBanc_DAGGANCIO] DEFAULT ('') FOR [DAGGANCIO],
	CONSTRAINT [DF_RisUBanc_ID_RISUBANC] DEFAULT ('') FOR [ID_RISUBANC],
	CONSTRAINT [DF_RisUBanc_DESCBANCA] DEFAULT ('') FOR [DESCBANCA],
	CONSTRAINT [DF_RisUBanc_INTESTATAR] DEFAULT ('') FOR [INTESTATAR],
	CONSTRAINT [DF_RisUBanc_ABI] DEFAULT ('') FOR [ABI],
	CONSTRAINT [DF_RisUBanc_CAB] DEFAULT ('') FOR [CAB],
	CONSTRAINT [DF_RisUBanc_CCN] DEFAULT ('') FOR [CCN],
	CONSTRAINT [DF_RisUBanc_CIN] DEFAULT ('') FOR [CIN],
	CONSTRAINT [DF_RisUBanc_B_RIFER] DEFAULT ('') FOR [B_RIFER],
	CONSTRAINT [DF_RisUBanc_ORDINE] DEFAULT (0) FOR [ORDINE]
GO
