if exists (select * from dbo.sysobjects where id = object_id(N'[RisUFunz]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [RisUFunz]
GO

CREATE TABLE [RisUFunz] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[DAGGANCIO]     [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[ID_FUNZIONE] 	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDFUNAZIEN] 	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[D_Inizio_F] 	[varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[D_Fine_F] 	[varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[B_InCorso] 	[varchar] (1) COLLATE Latin1_General_CI_AS NULL ,
	[ORDINE]   	[numeric] (3, 0) NULL 
) ON [PRIMARY]
GO


ALTER TABLE [RisUFunz] WITH NOCHECK ADD 
	CONSTRAINT [PK_RisUFunz] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[RisUFunz] WITH NOCHECK ADD 
	CONSTRAINT [DF_RisUFunz_id_unique] DEFAULT (newid()) FOR [id_unique],
	CONSTRAINT [DF_RisUFunz_DAGGANCIO] DEFAULT ('') FOR [DAGGANCIO],
	CONSTRAINT [DF_RisUFunz_ID_FUNZIONE] DEFAULT ('') FOR [ID_FUNZIONE],
	CONSTRAINT [DF_RisUFunz_IDFUNAZIEN] DEFAULT ('') FOR [IDFUNAZIEN],
	CONSTRAINT [DF_RisUFunz_D_Inizio_F] DEFAULT ('') FOR [D_Inizio_F],
	CONSTRAINT [DF_RisUFunz_D_Fine_F] DEFAULT ('') FOR [D_Fine_F],
	CONSTRAINT [DF_RisUFunz_B_InCorso] DEFAULT ('') FOR [B_InCorso],
	CONSTRAINT [DF_RisUFunz_ORDINE] DEFAULT (0) FOR [ORDINE]
GO
