	
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SEDI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[SEDI]
GO

/****** Object:  Table [dbo].[SEDI]    Script Date: 23/08/2007 5.41.01 ******/
CREATE TABLE [SEDI] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[DAGGANCIO] 	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[ID_SEDE] 		[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[NOME]			[varchar] (80) COLLATE Latin1_General_CI_AS NULL ,
	[LOCSEDE] 		[varchar] (40) COLLATE Latin1_General_CI_AS NULL ,
	[INDSEDE] 		[varchar] (100) COLLATE Latin1_General_CI_AS NULL ,
	[CAPSEDE] 		[varchar] (5) COLLATE Latin1_General_CI_AS NULL ,
	[TELSEDE] 		[varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[FAXSEDE] 		[varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[EMAILSEDE] 	[varchar] (100) COLLATE Latin1_General_CI_AS NULL 

) ON [PRIMARY] 
GO

ALTER TABLE [dbo].[SEDI] WITH NOCHECK ADD 
	CONSTRAINT [PK_SEDI] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[SEDI] WITH NOCHECK ADD 
	CONSTRAINT [DF_SEDI_id_unique] 		DEFAULT (newid()) FOR 	[id_unique],
	CONSTRAINT [DF_SEDI_DAGGANCIO] 		DEFAULT ('') FOR 		[DAGGANCIO],
	CONSTRAINT [DF_SEDI_ID_SEDE]    	DEFAULT ('') FOR 		[ID_SEDE] ,
	CONSTRAINT [DF_SEDI_NOME]    	DEFAULT ('') FOR 			[NOME] ,
	CONSTRAINT [DF_SEDI_LOCSEDE]    	DEFAULT ('') FOR 		[LOCSEDE] ,
	CONSTRAINT [DF_SEDI_INDSEDE]    	DEFAULT ('') FOR 		[INDSEDE] ,
	CONSTRAINT [DF_SEDI_CAPSEDE]    	DEFAULT ('') FOR 		[CAPSEDE] ,
	CONSTRAINT [DF_SEDI_TELSEDE]    	DEFAULT ('') FOR 		[TELSEDE] ,
	CONSTRAINT [DF_SEDI_FAXSEDE]    	DEFAULT ('') FOR 		[FAXSEDE] ,
	CONSTRAINT [DF_SEDI_EMAILSEDE]    	DEFAULT ('') FOR 		[EMAILSEDE] 	

GO

