if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TRANCHE_DETTAGLIO]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TRANCHE_DETTAGLIO]
GO

CREATE TABLE [dbo].[TRANCHE_DETTAGLIO](
	[id_unique] [uniqueidentifier] ROWGUIDCOL NOT NULL CONSTRAINT [DF_TRANCHE_DETTAGLIO_id_unique]  DEFAULT (newid()),
	[IDCommessaD] [varchar](32) NULL CONSTRAINT [DF_TRANCHE_DETTAGLIO_IDCommessaD]  DEFAULT (''),
	[IDClientiTraDD] [varchar] (10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_TRANCHE_DETTAGLIO_IDClientiTraDD]  DEFAULT (''),	
	[IDRIGA] [varchar] (10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_TRANCHE_DETTAGLIO_IDRIGA]  DEFAULT (''),	
	[TRAN_IMP] [numeric](17, 2) NULL CONSTRAINT [DF_TRANCHE_DETTAGLIO_TRAN_IMP]  DEFAULT ((0)),
	[TRAN_DAT] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_TRANCHE_DETTAGLIO_TRAN_DAT]  DEFAULT (''),
	[TRAN_NOT] [text] COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_TRANCHE_DETTAGLIO_TRAN_NOT]  DEFAULT ('')

 CONSTRAINT [PK_TRANCHE_DETTAGLIO] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
