if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TRANCHE_COMMESSA]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TRANCHE_COMMESSA]
GO

CREATE TABLE [dbo].[TRANCHE_COMMESSA](
	[id_unique] [uniqueidentifier] ROWGUIDCOL NOT NULL CONSTRAINT [DF_TRANCHE_COMMESSA_id_unique]  DEFAULT (newid()),
	[IDCommessaC] [varchar](32) NULL CONSTRAINT [DF_TRANCHE_COMMESSA_IDCommessaC]  DEFAULT (''),
	[IDClientiTra] [varchar] (10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_TRANCHE_COMMESSA_IDClientiTra]  DEFAULT (''),
	[IDTranche] [varchar] (10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_TRANCHE_COMMESSA_IDTranche]  DEFAULT (''),
	[ImpTra][numeric](17, 2) NULL CONSTRAINT [DF_TRANCHE_COMMESSA_ImpTra]  DEFAULT ((0)),
	[DataTra] [varchar](10) NULL CONSTRAINT [DF_TRANCHE_COMMESSA_DataTra]  DEFAULT (''),
	[NumFatt] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_TRANCHE_COMMESSA_NumFatt]  DEFAULT (''),
	[DataFatt] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_TRANCHE_COMMESSA_DataFatt]  DEFAULT ('')

 CONSTRAINT [PK_TRANCHE_COMMESSA] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
