if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TRIBUTI_F24]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[TRIBUTI_F24]
GO

 
CREATE TABLE [dbo].[TRIBUTI_F24] (
	[id_unique] uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[COD_TRIBUTO] [varchar] (4) COLLATE Latin1_General_CI_AS NULL ,
	[SEZIONE] [varchar] (2) COLLATE Latin1_General_CI_AS NULL ,
	[CONTOCONT] [varchar] (13) COLLATE Latin1_General_CI_AS NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TRIBUTI_F24] WITH NOCHECK ADD 
	CONSTRAINT [PK_TRIBUTI_F24] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TRIBUTI_F24] WITH NOCHECK ADD 
	CONSTRAINT [DF_TRIBUTI_F24_id_unique] DEFAULT (newid()) FOR [id_unique],
	CONSTRAINT [DF_TRIBUTI_F24_COD_TRIBUTO] DEFAULT ('') FOR [COD_TRIBUTO],
	CONSTRAINT [DF_TRIBUTI_F24_SEZIONE] DEFAULT ('') FOR [SEZIONE] ,
	CONSTRAINT [DF_TRIBUTI_F24_CONTOCONT] DEFAULT ('') FOR [CONTOCONT] 
GO


INSERT INTO PARA (CODICE,DESCRI,LIBERA) VALUES ('F24S1','ERARIO','40-01/02')
INSERT INTO PARA (CODICE,DESCRI,LIBERA) VALUES ('F24S2','INPS','40-03/04')
INSERT INTO PARA (CODICE,DESCRI,LIBERA) VALUES ('F24S3','REGIONI','40-05/06')



