
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[U_BCL_DD]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[U_BCL_DD]
GO

/****** Oggetto:  Table [dbo].[U_BCL_DD]    Data script: 11/07/2011 16:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[U_BCL_DD](
	[id_unique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_U_BCL_DD_id_unique]  DEFAULT (newid()),
	[DAGGANCIO] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_DAGGANCIO]  DEFAULT (''),
	[ORD_CODART] [varchar](16) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_CODART]  DEFAULT (''),
	[ORD_ARTGRU] [numeric](3, 0) NULL CONSTRAINT [DF_U_BCL_DD_ORD_ARTGRU]  DEFAULT (0),
	[ORD_UM] [varchar](2) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_UM]  DEFAULT (''),
	[ORD_IVA] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_IVA]  DEFAULT (''),
	[ORD_DESART] [varchar](100) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_DESART]  DEFAULT (''),
	[ORD_DES2] [varchar](100) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_DES2]  DEFAULT (''),
	[ORD_MAGA] [varchar](6) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_MAGA]  DEFAULT (''),
	[ORD_QTAORD] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAORD]  DEFAULT (0),
	[ORD_QTAEV] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAEV]  DEFAULT (0),
	[ORD_QTADEV] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTADEV]  DEFAULT (0),
	[ORD_PREZZO] [numeric](19, 6) NULL CONSTRAINT [DF_U_BCL_DD_ORD_PREZZO]  DEFAULT (0),
	[ORD_SC1] [numeric](9, 3) NULL CONSTRAINT [DF_U_BCL_DD_ORD_SC1]  DEFAULT (0),
	[ORD_SC2] [numeric](9, 3) NULL CONSTRAINT [DF_U_BCL_DD_ORD_SC2]  DEFAULT (0),
	[ORD_SC3] [numeric](9, 3) NULL CONSTRAINT [DF_U_BCL_DD_ORD_SC3]  DEFAULT (0),
	[ORD_PRZNET] [numeric](19, 6) NULL CONSTRAINT [DF_U_BCL_DD_ORD_PRZNET]  DEFAULT (0),
	[ORD_VALORE] [numeric](19, 3) NULL CONSTRAINT [DF_U_BCL_DD_ORD_VALORE]  DEFAULT (0),
	[ORD_PRORIG] [numeric](9, 3) NULL CONSTRAINT [DF_U_BCL_DD_ORD_PRORIG]  DEFAULT (0),
	[ORD_DATCON] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_DATCON]  DEFAULT (''),
	[ORD_FLARTC] [numeric](3, 0) NULL CONSTRAINT [DF_U_BCL_DD_ORD_FLARTC]  DEFAULT (0),
	[ORD_QTAOLD] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAOLD]  DEFAULT (0),
	[ORD_QTAFAT] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAFAT]  DEFAULT (0),
	[ORD_VIEW] [bit] NULL CONSTRAINT [DF_U_BCL_DD_ORD_VIEW]  DEFAULT (0),
	[ORD_CONSD] [bit] NULL CONSTRAINT [DF_U_BCL_DD_ORD_CONSD]  DEFAULT (0),
	[ORD_NOTE] [text] COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_NOTE]  DEFAULT (''),
	[ORD_CHIUSO] [bit] NULL CONSTRAINT [DF_U_BCL_DD_ORD_CHIUSO]  DEFAULT (0),
	[ORD_PUBBLI] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_PUBBLI]  DEFAULT (''),
	[ORD_QTAPAR] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAPAR]  DEFAULT (0),
	[RIN_NUMRIN] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_RIN_NUMRIN]  DEFAULT (''),
	[RIN_DATCON] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_RIN_DATCON]  DEFAULT (''),
	[RIN_DATINT] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_RIN_DATINT]  DEFAULT (''),
	[ORD_CODICE] [varchar](16) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_CODICE]  DEFAULT (''),
	[ORD_CODSYS] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_CODSYS]  DEFAULT (''),
	[ORD_SINTE] [bit] NULL CONSTRAINT [DF_U_BCL_DD_ORD_SINTE]  DEFAULT (0),
	[ORD_VALCO] [numeric](19, 3) NULL CONSTRAINT [DF_U_BCL_DD_ORD_VALCO]  DEFAULT (0),
	[ORD_QTAORG] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAORG]  DEFAULT (0),
	[ORD_QTAORF] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAORF]  DEFAULT (0),
	[ORD_QTAORP] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAORP]  DEFAULT (0),
	[ORS_MAGS] [varchar](6) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_MAGS]  DEFAULT (''),
	[ORS_MAGD] [varchar](6) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_MAGD]  DEFAULT (''),
	[ORS_CODCLI] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_CODCLI]  DEFAULT (''),
	[ORS_RAGSOC] [varchar](70) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_RAGSOC]  DEFAULT (''),
	[ORS_NUMORD] [varchar](6) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_NUMORD]  DEFAULT (''),
	[ORS_DATORD] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_DATORD]  DEFAULT (''),
	[ORS_CODEMI] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_CODEMI]  DEFAULT (''),
	[ORS_RAGEMI] [varchar](40) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_RAGEMI]  DEFAULT (''),
	[ORS_TIPORD] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_TIPORD]  DEFAULT (''),
	[ORS_SALCON] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_SALCON]  DEFAULT (''),
	[SELEZIONE] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_SELEZIONE]  DEFAULT (''),
	[ORS_NUMORC] [varchar](6) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_NUMORC]  DEFAULT (''),
	[ORS_DATORC] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_DATORC]  DEFAULT (''),
	[ORS_DESTIN] [varchar](70) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_DESTIN]  DEFAULT (''),
	[ORD_QTCONF] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTCONF]  DEFAULT (0),
	[ORD_QTXCON] [numeric](10, 3) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTXCON]  DEFAULT (0),
	[ORD_COORD] [varchar](17) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_COORD]  DEFAULT (''),
	[MOV_CODORD] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_MOV_CODORD]  DEFAULT (''),
	[MOV_RAGORD] [varchar](40) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_MOV_RAGORD]  DEFAULT (''),
	[MOV_NUMORD] [varchar](6) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_MOV_NUMORD]  DEFAULT (''),
	[MOV_DATORD] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_MOV_DATORD]  DEFAULT (''),
	[MOV_TIPORD] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_MOV_TIPORD]  DEFAULT (''),
	[MOV_FLGFAT] [bit] NULL CONSTRAINT [DF_U_BCL_DD_MOV_FLGFAT]  DEFAULT (0),
	[MOV_NUMFAT] [varchar](6) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_MOV_NUMFAT]  DEFAULT (''),
	[MOV_DATFAT] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_MOV_DATFAT]  DEFAULT (''),
	[ORD_SCORMI] [numeric](15, 2) NULL CONSTRAINT [DF_U_BCL_DD_ORD_SCORMI]  DEFAULT (0),
	[ORD_PESOUM] [numeric](12, 3) NULL CONSTRAINT [DF_U_BCL_DD_ORD_PESOUM]  DEFAULT (0),
	[ORD_CODIMB] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_CODIMB]  DEFAULT (''),
	[ORD_FLGSCP] [bit] NULL CONSTRAINT [DF_U_BCL_DD_ORD_FLGSCP]  DEFAULT (0),
	[ORS_VALUTA] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_VALUTA]  DEFAULT (''),
	[ORD_SEQUEN] [numeric](7, 0) NULL CONSTRAINT [DF_U_BCL_DD_ORD_SEQUEN]  DEFAULT (0),
	[ORD_CODTAG] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_CODTAG]  DEFAULT (''),
	[ORD_DESTAG] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_DESTAG]  DEFAULT (''),
	[ORD_CODCOL] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_CODCOL]  DEFAULT (''),
	[ORD_DESCOL] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_DESCOL]  DEFAULT (''),
	[ORD_TRASMD] [bit] NULL CONSTRAINT [DF_U_BCL_DD_ORD_TRASMD]  DEFAULT (0),
	[ORD_LEGAME] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_LEGAME]  DEFAULT (''),
	[ORD_FORNIT] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_FORNIT]  DEFAULT (''),
	[ORD_PRZULC] [numeric](19, 6) NULL CONSTRAINT [DF_U_BCL_DD_ORD_PRZULC]  DEFAULT (0),
	[ORD_RAGFOR] [varchar](50) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_RAGFOR]  DEFAULT (''),
	[ORD_LEGSYS] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_LEGSYS]  DEFAULT (''),
	[ORD_FLGMOD] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_FLGMOD]  DEFAULT (''),
	[ORD_PRZCON] [numeric](17, 6) NULL CONSTRAINT [DF_U_BCL_DD_ORD_PRZCON]  DEFAULT (0),
	[ORD_CODACQ] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_CODACQ]  DEFAULT (''),
	[ORD_CODMAT] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_CODMAT]  DEFAULT (''),
	[ORD_DESMAT] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_DESMAT]  DEFAULT (''),
	[ORD_SPESSO] [numeric](5, 0) NULL CONSTRAINT [DF_U_BCL_DD_ORD_SPESSO]  DEFAULT (0),
	[ORD_ALTEZZ] [numeric](5, 0) NULL CONSTRAINT [DF_U_BCL_DD_ORD_ALTEZZ]  DEFAULT (0),
	[ORD_LUNGHE] [numeric](6, 0) NULL CONSTRAINT [DF_U_BCL_DD_ORD_LUNGHE]  DEFAULT (0),
	[ORD_NUMBOB] [numeric](6, 0) NULL CONSTRAINT [DF_U_BCL_DD_ORD_NUMBOB]  DEFAULT (0),
	[ORD_QTAKG] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAKG]  DEFAULT (0),
	[ORD_QTAMQ] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAMQ]  DEFAULT (0),
	[ORD_QTAML] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAML]  DEFAULT (0),
	[ORD_QTAKG1] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAKG1]  DEFAULT (0),
	[ORD_QTAMQ1] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAMQ1]  DEFAULT (0),
	[ORD_QTAML1] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAML1]  DEFAULT (0),
	[ORD_NUMPED] [numeric](8, 0) NULL CONSTRAINT [DF_U_BCL_DD_ORD_NUMPED]  DEFAULT (0),
	[ORD_DATPED] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_DATPED]  DEFAULT (''),
	[ORD_SYSPED] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_SYSPED]  DEFAULT (''),
	[ORD_DESIMB] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_DESIMB]  DEFAULT (''),
	[ORD_LOTMIN] [numeric](6, 0) NULL CONSTRAINT [DF_U_BCL_DD_ORD_LOTMIN]  DEFAULT (0),
	[ORD_NOTEBO] [text] COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_NOTEBO]  DEFAULT (''),
	[ORD_QTAKGI] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAKGI]  DEFAULT (0),
	[ORD_QTAKGE] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAKGE]  DEFAULT (0),
	[ORD_CDAPRD] [varchar](16) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_CDAPRD]  DEFAULT (''),
	[ORD_DSAPRD] [varchar](50) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_DSAPRD]  DEFAULT (''),
	[ORD_QTACON] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTACON]  DEFAULT ('0'),
	[ORD_TIPCON] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_TIPCON]  DEFAULT ('    '),
	[ORD_SERBOL] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_SERBOL]  DEFAULT ('    '),
	[ORD_ANNOPR] [numeric](4, 0) NULL CONSTRAINT [DF_U_BCL_DD_ORD_ANNOPR]  DEFAULT ('0'),
	[ORD_SERNUM] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_SERNUM]  DEFAULT ('    '),
	[ORD_NUMEDA] [numeric](9, 0) NULL CONSTRAINT [DF_U_BCL_DD_ORD_NUMEDA]  DEFAULT ('0'),
	[ORD_NUMEAL] [numeric](9, 0) NULL CONSTRAINT [DF_U_BCL_DD_ORD_NUMEAL]  DEFAULT ('0'),
	[ORD_AAPROD] [numeric](4, 0) NULL CONSTRAINT [DF_U_BCL_DD_ORD_AAPROD]  DEFAULT (0),
	[ORD_FLGCEL] [bit] NULL CONSTRAINT [DF_U_BCL_DD_ORD_FLGCEL]  DEFAULT (0),
	[ORD_SERIE] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_SERIE]  DEFAULT (''),
	[ORD_CBFISC] [varchar](50) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_CBFISC]  DEFAULT (''),
	[ORS_NUMDDT] [varchar](6) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_NUMDDT]  DEFAULT (''),
	[ORS_DATDDT] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_DATDDT]  DEFAULT (''),
	[ORS_ANNDDT] [varchar](4) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_ANNDDT]  DEFAULT (''),
	[ORS_AGGDDT] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_AGGDDT]  DEFAULT (''),
	[ORD_SYSDDT] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_SYSDDT]  DEFAULT (''),
	[ORD_NRBRES] [numeric](10, 0) NULL CONSTRAINT [DF_U_BCL_DD_ORD_NRBRES]  DEFAULT (0),
	[ORD_QTARES] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTARES]  DEFAULT (0),
	[ORD_NRERES] [numeric](10, 0) NULL CONSTRAINT [DF_U_BCL_DD_ORD_NRERES]  DEFAULT (0),
	[ORD_QTERES] [numeric](12, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTERES]  DEFAULT (0),
	[ORD_FLGPKL] [bit] NULL CONSTRAINT [DF_U_BCL_DD_ORD_FLGPKL]  DEFAULT (0),
	[RES_CODINT] [varchar](16) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_RES_CODINT]  DEFAULT (''),
	[RES_NUMLOT] [numeric](8, 0) NULL CONSTRAINT [DF_U_BCL_DD_RES_NUMLOT]  DEFAULT (0),
	[ORD_PRZOLD] [numeric](18, 6) NULL CONSTRAINT [DF_U_BCL_DD_ORD_PRZOLD]  DEFAULT (0),
	[ORD_TIPSOG] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_TIPSOG]  DEFAULT (''),
	[ORD_CODSOG] [varchar](20) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_CODSOG]  DEFAULT (''),
	[ORD_DESSOG] [varchar](100) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_DESSOG]  DEFAULT (''),
	[ORS_SYSFAT] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORS_SYSFAT]  DEFAULT (''),
	[ORD_PROGRE] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_PROGRE]  DEFAULT (''),
	[ORD_SYSMAG] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_SYSMAG]  DEFAULT (''),
	[ORD_QTAMCE] [numeric](17, 3) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAMCE]  DEFAULT (0),
	[ORD_QTAMC1] [numeric](17, 3) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAMC1]  DEFAULT (0),
	[ORD_QTAMC] [numeric](17, 3) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTAMC]  DEFAULT (0),
	[ORD_SC4] [numeric](7, 3) NULL CONSTRAINT [DF_U_BCL_DD_ORD_SC4]  DEFAULT (0),
	[ORD_SC5] [numeric](7, 3) NULL CONSTRAINT [DF_U_BCL_DD_ORD_SC5]  DEFAULT (0),
	[ORD_ARTCTL] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_ARTCTL]  DEFAULT (''),
	[ORD_QTACTL] [numeric](17, 4) NULL CONSTRAINT [DF_U_BCL_DD_ORD_QTACTL]  DEFAULT (0),
	[ORD_CTLSYS] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_DD_ORD_CTLSYS]  DEFAULT ('')
 CONSTRAINT [PK_U_BCL_DD] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF