
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[U_BCL_TT]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[U_BCL_TT]
GO

/****** Oggetto:  Table [dbo].[U_BCL_TT]    Data script: 11/07/2011 16:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[U_BCL_TT](
	[id_unique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_U_BCL_TT_id_unique]  DEFAULT (newid()),
	[TAGGANCIO] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_TAGGANCIO]  DEFAULT (''),
	[ORD_CODSOC] [varchar](2) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_CODSOC]  DEFAULT (''),
	[TNUMERO] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_TNUMERO]  DEFAULT (''),
	[ORD_CODCLI] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_CODCLI]  DEFAULT (''),
	[ORD_RAGSOC] [varchar](80) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_RAGSOC]  DEFAULT (''),
	[ORD_RAGDUE] [varchar](40) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_RAGDUE]  DEFAULT (''),
	[ORD_INDIRI] [varchar](70) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_INDIRI]  DEFAULT (''),
	[ORD_CAP] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_CAP]  DEFAULT (''),
	[ORD_LOCALI] [varchar](70) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_LOCALI]  DEFAULT (''),
	[ORD_PARIVA] [varchar](11) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_PARIVA]  DEFAULT (''),
	[ORD_VALUTA] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_VALUTA]  DEFAULT (''),
	[ORD_CAMBIO] [numeric](17, 10) NULL CONSTRAINT [DF_U_BCL_TT_ORD_CAMBIO]  DEFAULT (0),
	[ORD_NUMORD] [varchar](6) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_NUMORD]  DEFAULT (''),
	[ORD_DATORD] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_DATORD]  DEFAULT (''),
	[ORD_ORA] [varchar](5) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_ORA]  DEFAULT (''),
	[ORD_NUMORC] [varchar](6) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_NUMORC]  DEFAULT (''),
	[ORD_DATORC] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_DATORC]  DEFAULT (''),
	[ORD_PESO] [numeric](19, 3) NULL CONSTRAINT [DF_U_BCL_TT_ORD_PESO]  DEFAULT (0),
	[ORD_COLLI] [varchar](4) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_COLLI]  DEFAULT (''),
	[ORD_CAUS] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_CAUS]  DEFAULT (''),
	[ORD_RIFERI] [varchar](60) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_RIFERI]  DEFAULT (''),
	[ORD_CPA] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_CPA]  DEFAULT (''),
	[ORD_BANCA] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_BANCA]  DEFAULT (''),
	[ORD_AGE] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_AGE]  DEFAULT (''),
	[ORD_PROVVI] [numeric](9, 3) NULL CONSTRAINT [DF_U_BCL_TT_ORD_PROVVI]  DEFAULT (0),
	[ORD_ASPETT] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_ASPETT]  DEFAULT (''),
	[ORD_SCOGLO] [numeric](5, 0) NULL CONSTRAINT [DF_U_BCL_TT_ORD_SCOGLO]  DEFAULT (0),
	[ORD_PORTO] [varchar](9) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_PORTO]  DEFAULT (''),
	[ORD_BOLLI] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_BOLLI]  DEFAULT (''),
	[ORD_SPBOLL] [numeric](16, 3) NULL CONSTRAINT [DF_U_BCL_TT_ORD_SPBOLL]  DEFAULT (0),
	[ORD_SPTRAS] [numeric](16, 3) NULL CONSTRAINT [DF_U_BCL_TT_ORD_SPTRAS]  DEFAULT (0),
	[ORD_MEZZO] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_MEZZO]  DEFAULT (''),
	[ORD_VETTO1] [varchar](40) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_VETTO1]  DEFAULT (''),
	[ORD_VETTO2] [varchar](40) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_VETTO2]  DEFAULT (''),
	[ORD_VETTO3] [varchar](40) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_VETTO3]  DEFAULT (''),
	[ORD_LISTIN] [varchar](15) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_LISTIN]  DEFAULT (''),
	[ORD_ALTDES] [numeric](3, 0) NULL CONSTRAINT [DF_U_BCL_TT_ORD_ALTDES]  DEFAULT (0),
	[ORD_CODLOC] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_CODLOC]  DEFAULT (''),
	[ORD_RAGC] [varchar](70) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_RAGC]  DEFAULT (''),
	[ORD_INDC] [varchar](70) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_INDC]  DEFAULT (''),
	[ORD_CAPC] [varchar](5) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_CAPC]  DEFAULT (''),
	[ORD_LOCC] [varchar](70) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_LOCC]  DEFAULT (''),
	[ORD_CODNAZ] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_CODNAZ]  DEFAULT (''),
	[ORD_TOTPRV] [numeric](17, 3) NULL CONSTRAINT [DF_U_BCL_TT_ORD_TOTPRV]  DEFAULT (0),
	[ORD_VALORE] [numeric](17, 3) NULL CONSTRAINT [DF_U_BCL_TT_ORD_VALORE]  DEFAULT (0),
	[ORD_FLBOL] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_FLBOL]  DEFAULT (''),
	[ORD_DTCONS] [varchar](20) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_DTCONS]  DEFAULT (''),
	[ORD_CONST] [bit] NULL CONSTRAINT [DF_U_BCL_TT_ORD_CONST]  DEFAULT (0),
	[ORD_CHIUSO] [bit] NULL CONSTRAINT [DF_U_BCL_TT_ORD_CHIUSO]  DEFAULT (0),
	[SELEZIONE] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_SELEZIONE]  DEFAULT (''),
	[ORD_COMMES] [varchar](6) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_COMMES]  DEFAULT (''),
	[ORD_SCAR] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_SCAR]  DEFAULT (''),
	[ORD_MAGS] [varchar](6) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_MAGS]  DEFAULT (''),
	[ORD_MAGD] [varchar](6) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_MAGD]  DEFAULT (''),
	[ORD_INTRAS] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_INTRAS]  DEFAULT (''),
	[ORD_FORNI] [bit] NULL CONSTRAINT [DF_U_BCL_TT_ORD_FORNI]  DEFAULT (0),
	[ORD_NOTE] [text] COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_NOTE]  DEFAULT (''),
	[ORD_ACURA] [varchar](2) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_ACURA]  DEFAULT (''),
	[ORD_ITAEXP] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_ITAEXP]  DEFAULT (''),
	[ORD_PARTOT] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_PARTOT]  DEFAULT (''),
	[ORD_FLGAGG] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_FLGAGG]  DEFAULT (''),
	[ORD_NUMCTL] [varchar](6) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_NUMCTL]  DEFAULT (''),
	[ORD_DATCTL] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_DATCTL]  DEFAULT (''),
	[ORD_CODSYS] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_CODSYS]  DEFAULT (''),
	[ORD_MERCRE] [varchar](20) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_MERCRE]  DEFAULT (''),
	[ORD_TISPE] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_TISPE]  DEFAULT (''),
	[ORD_CODEMI] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_CODEMI]  DEFAULT (''),
	[ORD_RAGEMI] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_RAGEMI]  DEFAULT (''),
	[ORD_CCOSTO] [varchar](13) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_CCOSTO]  DEFAULT (''),
	[ORD_NUMTRX] [varchar](6) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_NUMTRX]  DEFAULT (''),
	[ORD_DATTRX] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_DATTRX]  DEFAULT (''),
	[ORD_ORATRX] [varchar](5) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_ORATRX]  DEFAULT (''),
	[ORD_DATRCX] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_DATRCX]  DEFAULT (''),
	[ORD_ORARCX] [varchar](5) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_ORARCX]  DEFAULT (''),
	[ORD_VALDAF] [numeric](17, 2) NULL CONSTRAINT [DF_U_BCL_TT_ORD_VALDAF]  DEFAULT (0),
	[ORD_TIPORD] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_TIPORD]  DEFAULT (''),
	[ORD_FLGSTA] [bit] NULL CONSTRAINT [DF_U_BCL_TT_ORD_FLGSTA]  DEFAULT (0),
	[ORD_DATSTA] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_DATSTA]  DEFAULT (''),
	[ORD_FLTRAS] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_FLTRAS]  DEFAULT (''),
	[ORD_DESFAT] [varchar](60) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_DESFAT]  DEFAULT (''),
	[ORD_DESTIN] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_DESTIN]  DEFAULT (''),
	[ORD_SYSCOD] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_SYSCOD]  DEFAULT (''),
	[ORD_PRORIT] [numeric](9, 3) NULL CONSTRAINT [DF_U_BCL_TT_ORD_PRORIT]  DEFAULT (0),
	[ORD_SC1T] [numeric](9, 3) NULL CONSTRAINT [DF_U_BCL_TT_ORD_SC1T]  DEFAULT (0),
	[ORD_SC2T] [numeric](9, 3) NULL CONSTRAINT [DF_U_BCL_TT_ORD_SC2T]  DEFAULT (0),
	[ORD_SC3T] [numeric](9, 3) NULL CONSTRAINT [DF_U_BCL_TT_ORD_SC3T]  DEFAULT (0),
	[ORD_TOTIMB] [numeric](19, 3) NULL CONSTRAINT [DF_U_BCL_TT_ORD_TOTIMB]  DEFAULT (0),
	[ORD_PESEST] [numeric](19, 3) NULL CONSTRAINT [DF_U_BCL_TT_ORD_PESEST]  DEFAULT (0),
	[ORD_CODIMB] [varchar](3) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_CODIMB]  DEFAULT (''),
	[ORD_CLIFAT] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_CLIFAT]  DEFAULT (''),
	[ORD_RAGFAT] [varchar](40) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_RAGFAT]  DEFAULT (''),
	[ORD_ORATRA] [varchar](18) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_ORATRA]  DEFAULT (''),
	[ORD_TRAPDV] [bit] NULL CONSTRAINT [DF_U_BCL_TT_ORD_TRAPDV]  DEFAULT (0),
	[ORD_TRASME] [bit] NULL CONSTRAINT [DF_U_BCL_TT_ORD_TRASME]  DEFAULT (0),
	[ORD_ANNO] [varchar](4) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_ANNO]  DEFAULT (''),
	[ORD_PROVIN] [varchar](2) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_PROVIN]  DEFAULT (''),
	[ORD_PROC] [varchar](2) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_PROC]  DEFAULT (''),
	[ORD_CODBUN] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_CODBUN]  DEFAULT (''),
	[ORD_DESBUN] [varchar](50) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_DESBUN]  DEFAULT (''),
	[ORD_FLGTRA] [bit] NULL CONSTRAINT [DF_U_BCL_TT_ORD_FLGTRA]  DEFAULT (0),
	[ORD_FLGCON] [bit] NULL CONSTRAINT [DF_U_BCL_TT_ORD_FLGCON]  DEFAULT (0),
	[ORD_NUMDDT] [varchar](6) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_NUMDDT]  DEFAULT (''),
	[ORD_DATDDT] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_DATDDT]  DEFAULT (''),
	[ORD_ANNDDT] [varchar](4) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_ANNDDT]  DEFAULT (''),
	[ORD_AGGDDT] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_AGGDDT]  DEFAULT (''),
	[T_OMAGGIO] [numeric](17, 3) NULL CONSTRAINT [DF_U_BCL_TT_T_OMAGGIO]  DEFAULT ('0'),
	[I_OMAGGIO] [numeric](17, 3) NULL CONSTRAINT [DF_U_BCL_TT_I_OMAGGIO]  DEFAULT ('0'),
	[ORD_DATFAT] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_DATFAT]  DEFAULT (''),
	[ORD_PESNET] [numeric](19, 3) NULL CONSTRAINT [DF_U_BCL_TT_ORD_PESNET]  DEFAULT (0),
	[TIPRENDO] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_TIPRENDO]  DEFAULT (''),
	[ORD_AAMMFA] [varchar](7) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_ORD_AAMMFA]  DEFAULT (''),
	[REG_CODOPE] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_REG_CODOPE]  DEFAULT (''),
	[REG_NOMOPE] [varchar](50) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_REG_NOMOPE]  DEFAULT (''),
	[REG_DATREG] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_REG_DATREG]  DEFAULT (''),
	[REG_ORAREG] [varchar](8) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_REG_ORAREG]  DEFAULT (''),
	[MOD_CODOPE] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_MOD_CODOPE]  DEFAULT (''),
	[MOD_NOMOPE] [varchar](50) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_MOD_NOMOPE]  DEFAULT (''),
	[MOD_DATREG] [varchar](10) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_MOD_DATREG]  DEFAULT (''),
	[MOD_ORAREG] [varchar](8) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_U_BCL_TT_MOD_ORAREG]  DEFAULT (''),
	[ORD_SGNCLL] [bit] NULL CONSTRAINT [DF_U_BCL_TT_ORD_SGNCLL]  DEFAULT ((0)),
 CONSTRAINT [PK_U_BCL_TT] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF