if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[U_BUD_TT]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[U_BUD_TT]
GO

CREATE TABLE [dbo].[U_BUD_TT] (
	[id_unique]  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[bud_codart] [varchar] (16) COLLATE Latin1_General_CI_AS NULL ,
	[bud_desart] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[bud_budget] [varchar] (1) COLLATE Latin1_General_CI_AS NULL ,
	[bud_data] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[bud_descri] [varchar] (40) COLLATE Latin1_General_CI_AS NULL ,
	[bud_qta] [numeric](10, 2) NULL ,
	[bud_przven] [numeric](17, 3) NULL ,
	[bud_przcos] [numeric](17, 3) NULL ,
	[bud_tprzven] [numeric](17, 3) NULL ,
	[bud_tprzcos] [numeric](17, 3) NULL ,
	[bud_reddi] [numeric](17, 3) NULL ,
	[bud_qtamed] [numeric](10, 2) NULL ,
	[bud_mprzven] [numeric](17, 3) NULL ,
	[bud_mprzcos] [numeric](17, 3) NULL ,
	[bud_treddi] [numeric](17, 3) NULL ,
	[bud_catmer] [varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[bud_catben] [varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[bud_linea] [varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[bud_gg] [numeric](3, 0) NULL ,
	[bud_qtakg] [numeric](11, 3) NULL ,
	[bud_media] [numeric](8, 2) NULL ,
	[bud_mmedia] [numeric](8, 2) NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[U_BUD_TT] WITH NOCHECK ADD 
	CONSTRAINT [PK_U_BUD_TT] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[U_BUD_TT] WITH NOCHECK ADD 
	CONSTRAINT [DF_U_BUD_TT_id_unique] DEFAULT (newid()) FOR [id_unique],
	CONSTRAINT [DF_U_BUD_TT_bud_codart] DEFAULT ('') FOR [bud_codart],
	CONSTRAINT [DF_U_BUD_TT_bud_desart] DEFAULT ('') FOR [bud_desart],
	CONSTRAINT [DF_U_BUD_TT_bud_budget] DEFAULT ('') FOR [bud_budget],
	CONSTRAINT [DF_U_BUD_TT_bud_data] DEFAULT ('') FOR [bud_data],
	CONSTRAINT [DF_U_BUD_TT_bud_descri] DEFAULT ('') FOR [bud_descri],
	CONSTRAINT [DF_U_BUD_TT_bud_qta] DEFAULT (0) FOR [bud_qta],
	CONSTRAINT [DF_U_BUD_TT_bud_przven] DEFAULT (0) FOR [bud_przven],
	CONSTRAINT [DF_U_BUD_TT_bud_przcos] DEFAULT (0) FOR [bud_przcos],
	CONSTRAINT [DF_U_BUD_TT_bud_tprzven] DEFAULT (0) FOR [bud_tprzven],
	CONSTRAINT [DF_U_BUD_TT_bud_tprzcos] DEFAULT (0) FOR [bud_tprzcos],
	CONSTRAINT [DF_U_BUD_TT_bud_reddi] DEFAULT (0) FOR [bud_reddi],
	CONSTRAINT [DF_U_BUD_TT_bud_qtamed] DEFAULT (0) FOR [bud_qtamed],
	CONSTRAINT [DF_U_BUD_TT_bud_mprzven] DEFAULT (0) FOR [bud_mprzven],
	CONSTRAINT [DF_U_BUD_TT_bud_mprzcos] DEFAULT (0) FOR [bud_mprzcos],
	CONSTRAINT [DF_U_BUD_TT_bud_treddi] DEFAULT (0) FOR [bud_treddi],
	CONSTRAINT [DF_U_BUD_TT_bud_catmer] DEFAULT ('') FOR [bud_catmer],
	CONSTRAINT [DF_U_BUD_TT_bud_catben] DEFAULT ('') FOR [bud_catben],
	CONSTRAINT [DF_U_BUD_TT_bud_linea] DEFAULT ('') FOR [bud_linea],
	CONSTRAINT [DF_U_BUD_TT_bud_gg] DEFAULT (0) FOR [bud_gg],
	CONSTRAINT [DF_U_BUD_TT_bud_qtakg] DEFAULT (0) FOR [bud_qtakg],
	CONSTRAINT [DF_U_BUD_TT_bud_media] DEFAULT (0) FOR [bud_media],
	CONSTRAINT [DF_U_BUD_TT_bud_mmedia] DEFAULT (0) FOR [bud_mmedia]
GO

