if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[U_BUD_AM]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[U_BUD_AM]
GO

CREATE TABLE [dbo].[U_BUD_AM] (
	[id_unique]  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[BUD_CODART] [varchar] (16) COLLATE Latin1_General_CI_AS NULL ,
	[BUD_DESART] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[BUD_CODMAT] [varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[BUD_DESMAT] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[BUD_LINEA] [varchar] (2) COLLATE Latin1_General_CI_AS NULL ,
	[BUD_DESLIN] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[BUD_SERIE] [varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[BUD_DESSER] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[BUD_ANNO] [varchar] (4) COLLATE Latin1_General_CI_AS NULL ,
	[BUD_MESE] [varchar] (2) COLLATE Latin1_General_CI_AS NULL ,
	[BUD_UM] [varchar] (2) COLLATE Latin1_General_CI_AS NULL ,
	[BUD_QUANTI] [numeric](13,2) NULL ,
	[BUD_PRZMED] [numeric](14,6) NULL ,
	[BUD_VALORE] [numeric](15,2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[U_BUD_AM] WITH NOCHECK ADD 
	CONSTRAINT [PK_U_BUD_AM] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[U_BUD_AM] WITH NOCHECK ADD 
	CONSTRAINT [DF_U_BUD_AM_id_unique] DEFAULT (newid()) FOR [id_unique],
	CONSTRAINT [DF_U_BUD_AM_BUD_CODART] DEFAULT ('') FOR [BUD_CODART],
	CONSTRAINT [DF_U_BUD_AM_BUD_DESART] DEFAULT ('') FOR [BUD_DESART],
	CONSTRAINT [DF_U_BUD_AM_BUD_CODMAT] DEFAULT ('') FOR [BUD_CODMAT],
	CONSTRAINT [DF_U_BUD_AM_BUD_DESMAT] DEFAULT ('') FOR [BUD_DESMAT],
	CONSTRAINT [DF_U_BUD_AM_BUD_LINEA] DEFAULT ('') FOR [BUD_LINEA],
	CONSTRAINT [DF_U_BUD_AM_BUD_DESLIN] DEFAULT ('') FOR [BUD_DESLIN],
	CONSTRAINT [DF_U_BUD_AM_BUD_SERIE] DEFAULT ('') FOR [BUD_SERIE],
	CONSTRAINT [DF_U_BUD_AM_BUD_DESSER] DEFAULT ('') FOR [BUD_DESSER],
	CONSTRAINT [DF_U_BUD_AM_BUD_ANNO] DEFAULT ('') FOR [BUD_ANNO],
	CONSTRAINT [DF_U_BUD_AM_BUD_MESE] DEFAULT ('') FOR [BUD_MESE],
	CONSTRAINT [DF_U_BUD_AM_BUD_UM] DEFAULT ('') FOR [BUD_UM],
	CONSTRAINT [DF_U_BUD_AM_BUD_QUANTI] DEFAULT (0) FOR [BUD_QUANTI],
	CONSTRAINT [DF_U_BUD_AM_BUD_PRZMED] DEFAULT (0) FOR [BUD_PRZMED],
	CONSTRAINT [DF_U_BUD_AM_BUD_VALORE] DEFAULT (0) FOR [BUD_VALORE]
GO

