if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[U_FAT_ED]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[U_FAT_ED]
GO  

CREATE TABLE [dbo].[U_FAT_ED] (
	[id_unique]  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[DAGGANCIO] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_CODART] [varchar] (16) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_ARTGRU] [numeric](1, 0) NULL ,
	[ORD_UM] [varchar] (2) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_IVA] [varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_DESART] [varchar] (40) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_DES2] [varchar] (40) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_MAGA] [varchar] (6) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_QTAORD] [numeric](13, 3) NULL ,
	[ORD_QTAEV] [numeric](13, 3) NULL ,
	[ORD_QTADEV] [numeric](13, 3) NULL ,
	[ORD_PREZZO] [numeric](17, 6) NULL ,
	[ORD_SC1] [numeric](7, 3) NULL ,
	[ORD_SC2] [numeric](7, 3) NULL ,
	[ORD_SC3] [numeric](7, 3) NULL ,
	[ORD_PRZNET] [numeric](17, 6) NULL ,
	[ORD_VALORE] [numeric](17, 3) NULL ,
	[ORD_PRORIG] [numeric](7, 3) NULL ,
	[ORD_DATCON] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_FLARTC] [numeric](1, 0) NULL ,
	[ORD_QTAOLD] [numeric](13, 3) NULL ,
	[ORD_QTAFAT] [numeric](13, 3) NULL ,
	[ORD_VIEW] [bit] NULL ,
	[ORD_CONSD] [bit] NULL ,
	[ORD_NOTE] [text] COLLATE Latin1_General_CI_AS NULL ,
	[ORD_CHIUSO] [bit] NULL ,
	[ORD_PUBBLI] [varchar] (1) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_CODICE] [varchar] (16) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_SINTE] [bit] NULL ,
	[ORD_VALCO] [numeric](17, 3) NULL ,
	[ORS_MAGS] [varchar] (6) COLLATE Latin1_General_CI_AS NULL ,
	[ORS_CODCLI] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORS_RAGSOC] [varchar] (70) COLLATE Latin1_General_CI_AS NULL ,
	[ORS_NUMORD] [varchar] (6) COLLATE Latin1_General_CI_AS NULL ,
	[ORS_DATORD] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORS_CODEMI] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORS_RAGEMI] [varchar] (40) COLLATE Latin1_General_CI_AS NULL ,
	[ORS_TIPORD] [varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[ORS_SALCON] [varchar] (1) COLLATE Latin1_General_CI_AS NULL ,
	[SELEZIONE] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORS_NUMORC] [varchar] (6) COLLATE Latin1_General_CI_AS NULL ,
	[ORS_DATORC] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORS_DESTIN] [varchar] (70) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_QTCONF] [numeric](13, 3) NULL ,
	[ORD_QTXCON] [numeric](13, 3) NULL ,
	[ORS_NUMDDT] [varchar] (6) COLLATE Latin1_General_CI_AS NULL ,
	[ORS_DATDDT] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORS_VETTO1] [varchar] (40) COLLATE Latin1_General_CI_AS NULL ,
	[ORS_VETTO2] [varchar] (40) COLLATE Latin1_General_CI_AS NULL ,
	[ORS_VETTO3] [varchar] (40) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_COORD] [varchar] (17) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_SYSCOD] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_FDITRA] [varchar] (1) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_SCORMI] [numeric](13, 2) NULL ,
	[ORD_PESOUM] [numeric](10, 3) NULL ,
	[ORD_CODIMB] [varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[ORS_VALUTA] [varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_SEQUEN] [numeric](5, 0) NULL ,
	[ORD_CODTAG] [varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_DESTAG] [varchar] (30) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_CODCOL] [varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_DESCOL] [varchar] (30) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_TRASME] [bit] NULL ,
	[ORD_TRASMD] [bit] NULL ,
	[ORD_CODSYS] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_LEGSYS] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_FLGMOD] [varchar] (1) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_PRZCON] [numeric](17, 6) NULL ,
	[ORD_FORNIT] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_CODACQ] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_CODMAT] [varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_DESMAT] [varchar] (30) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_SPESSO] [numeric](3, 0) NULL ,
	[ORD_ALTEZZ] [numeric](5, 0) NULL ,
	[ORD_LUNGHE] [numeric](6, 0) NULL ,
	[ORD_NUMBOB] [numeric](6, 0) NULL ,
	[ORD_QTAKG] [numeric](13, 3) NULL ,
	[ORD_QTAMQ] [numeric](13, 3) NULL ,
	[ORD_QTAML] [numeric](13, 3) NULL ,
	[ORD_QTAKG1] [numeric](13, 3) NULL ,
	[ORD_QTAMQ1] [numeric](13, 3) NULL ,
	[ORD_QTAML1] [numeric](13, 3) NULL ,
	[ORD_NUMPED] [numeric](8, 0) NULL ,
	[ORD_DATPED] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_SYSPED] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_NOTEBO] [text] COLLATE Latin1_General_CI_AS NULL ,
	[ORD_DESIMB] [varchar] (30) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_LOTMIN] [numeric](6, 0) NULL ,
	[ORD_QTAKGI] [numeric](13, 3) NULL ,
	[ORD_QTAKGE] [numeric](13, 3) NULL ,
	[ORD_CDAPRD] [varchar] (16) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_DSAPRD] [varchar] (50) COLLATE Latin1_General_CI_AS NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

