if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[U_GPP_MO]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[U_GPP_MO]
GO
 

/****** Oggetto:  Table [dbo].[U_GPP_MO]    Data script: 12/06/2011 16:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[U_GPP_MO](
	[id_unique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_U_GPP_MO_id_unique]  DEFAULT (newid()),
	[GPP_TIPO] [varchar](2) NULL CONSTRAINT [DF_U_GPP_MO_GPP_TIPO]  DEFAULT (''),
	[GPP_ANNO] [varchar](4) NULL CONSTRAINT [DF_U_GPP_MO_GPP_ANNO]  DEFAULT (''),
	[GPP_MESE] [varchar](2) NULL CONSTRAINT [DF_U_GPP_MO_GPP_MESE]  DEFAULT (''),
	[GPP_MATRI] [varchar](10) NULL CONSTRAINT [DF_U_GPP_MO_GPP_MATRI]  DEFAULT (''),
	[GPP_COGNOM] [varchar](50) NULL CONSTRAINT [DF_U_GPP_MO_GPP_COGNOM]  DEFAULT (''),
	[GPP_DAPAGA] [numeric](18, 3) NULL CONSTRAINT [DF_U_GPP_MO_GPP_DAPAGA]  DEFAULT ((0)),
	[GPP_PAGATO] [varchar](1) NULL CONSTRAINT [DF_U_GPP_MO_GPP_PAGATO]  DEFAULT (''),
	[GPP_INVLET] [varchar](1) NULL CONSTRAINT [DF_U_GPP_MO_GPP_INVLET]  DEFAULT (''),
	[GPP_DTSCAD] [varchar](10) NULL CONSTRAINT [DF_U_GPP_MO_GPP_DTSCAD]  DEFAULT (''),
	[GPP_BANCA] [varchar](5) NULL CONSTRAINT [DF_U_GPP_MO_GPE_BANCA]  DEFAULT (''),
	[GPP_ABI] [varchar](5) NULL CONSTRAINT [DF_U_GPP_MO_GPE_ABI]  DEFAULT (''),
	[GPP_CAB] [varchar](5) NULL CONSTRAINT [DF_U_GPP_MO_GPE_CAB]  DEFAULT (''),
	[GPP_CIN] [varchar](2) NULL CONSTRAINT [DF_U_GPP_MO_GPE_CIN]  DEFAULT (''),
	[GPP_CC] [varchar](12) NULL CONSTRAINT [DF_U_GPP_MO_GPE_CC]  DEFAULT (''),
	[GPP_IBAN] [varchar](29) NULL CONSTRAINT [DF_U_GPP_MO_GPE_IBAN]  DEFAULT (''),
	[SELEZIONE] [varchar](10) NULL CONSTRAINT [DF_U_GPP_MO_SELEZIONE]  DEFAULT (''),
 CONSTRAINT [PK_U_GPP_MO] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF