/****** Oggetto:  Table [dbo].[U_LIF_SC]    Data script: 07/09/2012 10:13:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[U_LIF_SC](
	[id_unique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_U_LIF_SC_id_unique]  DEFAULT (newid()),
	[LIS_CODSOC] [varchar](2) NULL CONSTRAINT [DF_U_LIF_SC_LIS_CODSOC]  DEFAULT (''),
	[LIS_CODCLI] [varchar](10) NULL CONSTRAINT [DF_U_LIF_SC_LIS_CODCLI]  DEFAULT (''),
	[LIS_RAGSOC] [varchar](30) NULL CONSTRAINT [DF_U_LIF_SC_LIS_RAGSOC]  DEFAULT (''),
	[LIS_CODLIS] [varchar](06) NULL CONSTRAINT [DF_U_LIF_SC_LIS_CODART]  DEFAULT (''),
	[LIS_DESLIS] [varchar](30) NULL CONSTRAINT [DF_U_LIF_SC_LIS_DESART]  DEFAULT (''),
	[LIS_DATLIS] [varchar](10) NULL CONSTRAINT [DF_U_LIF_SC_LIS_DATLIS]  DEFAULT (''),
	[LIS_ALLIST] [varchar](10) NULL CONSTRAINT [DF_U_LIF_SC_LIS_ALLIST]  DEFAULT (''),
	[LIS_SC1] [numeric](6, 2) NULL CONSTRAINT [DF_U_LIF_SC_LIS_SC1]  DEFAULT (0),
	[LIS_SC2] [numeric](6, 2) NULL CONSTRAINT [DF_U_LIF_SC_LIS_SC2]  DEFAULT (0),
	[LIS_SC3] [numeric](6, 2) NULL CONSTRAINT [DF_U_LIF_SC_LIS_SC3]  DEFAULT (0),
	[SELEZIONE] [varchar](10) NULL CONSTRAINT [DF_U_LIF_SC_SELEZIONE]  DEFAULT (''),
	[LIS_VALUTA] [varchar](3) NULL CONSTRAINT [DF_U_LIF_SC_LIS_VALUTA]  DEFAULT (''),
	[LIF_VALUTA] [varchar](3) NULL CONSTRAINT [DF_U_LIF_SC_LIF_VALUTA]  DEFAULT (''),
 CONSTRAINT [PK_U_LIF_SC] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF