if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[U_PED_DT]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[U_PED_DT]
GO

CREATE TABLE [dbo].[U_PED_DT] (
	[id_unique]  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[MAG_ANAART] [varchar] (16) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_CODART] [varchar] (16) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_DESART] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_NRLINT] [numeric](8, 0) NULL ,
	[MAG_CODMAG] [varchar] (6) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_CODMAT] [varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_DESMAT] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_CODCOL] [varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_DESCOL] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_SPESSO] [numeric](3, 0) NULL ,
	[MAG_ALTEZZ] [numeric](5, 0) NULL ,
	[MAG_LUNGHE] [numeric](6, 0) NULL ,
	[MAG_QTAMQ] [numeric](13, 2) NULL ,
	[MAG_QTAKG] [numeric](13, 2) NULL ,
	[MAG_CODCLI] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_CLIENT] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_NUMORD] [varchar] (6) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_DATORD] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_SYSORD] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_NLPROV] [numeric](8, 0) NULL ,
	[MAG_NUMPED] [numeric](8, 0) NULL ,
	[MAG_DATPED] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_NUMDDT] [varchar] (6) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_DATDDT] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_SYSDDT] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_UNIQUE] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_CODSYS] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_RIFERI] [varchar] (60) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_NUMPRG] [varchar] (6) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_DATPRG] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_PROPRG] [numeric](6, 0) NULL ,
	[MAG_DATAVA] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_NUMBOB] [numeric](9, 0) NULL ,
	[SELEZIONE] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_CDAPRD] [varchar] (16) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_DSAPRD] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_CODIMB] [varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_DESIMB] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_LARIMB] [numeric](7, 2) NULL ,
	[MAG_LUNIMB] [numeric](7, 2) NULL ,
	[MAG_ALTIMB] [numeric](7, 2) NULL ,
	[MAG_CDPEDA] [varchar] (16) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_DSPEDA] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_CDSCAT] [varchar] (16) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_DSSCAT] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[MAG_NRSCAT] [numeric](5, 0) NULL ,
	[MAG_CSTPED] [numeric](18, 2) NULL ,
	[MAG_CSTSCT] [numeric](18, 2) NULL ,
	[MAG_AGGDDT] [varchar] (10) COLLATE Latin1_General_CI_AS NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[U_PED_DT] WITH NOCHECK ADD 
	CONSTRAINT [PK_U_PED_DT] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[U_PED_DT] WITH NOCHECK ADD 
	CONSTRAINT [DF_U_PED_DT_id_unique] DEFAULT (newid()) FOR [id_unique],
	CONSTRAINT [DF_U_PED_DT_MAG_ANAART] DEFAULT ('') FOR [MAG_ANAART],
	CONSTRAINT [DF_U_PED_DT_MAG_CODART] DEFAULT ('') FOR [MAG_CODART],
	CONSTRAINT [DF_U_PED_DT_MAG_DESART] DEFAULT ('') FOR [MAG_DESART],
	CONSTRAINT [DF_U_PED_DT_MAG_NRLINT] DEFAULT (0) FOR [MAG_NRLINT],
	CONSTRAINT [DF_U_PED_DT_MAG_CODMAG] DEFAULT ('') FOR [MAG_CODMAG],
	CONSTRAINT [DF_U_PED_DT_MAG_CODMAT] DEFAULT ('') FOR [MAG_CODMAT],
	CONSTRAINT [DF_U_PED_DT_MAG_DESMAT] DEFAULT ('') FOR [MAG_DESMAT],
	CONSTRAINT [DF_U_PED_DT_MAG_CODCOL] DEFAULT ('') FOR [MAG_CODCOL],
	CONSTRAINT [DF_U_PED_DT_MAG_DESCOL] DEFAULT ('') FOR [MAG_DESCOL],
	CONSTRAINT [DF_U_PED_DT_MAG_SPESSO] DEFAULT (0) FOR [MAG_SPESSO],
	CONSTRAINT [DF_U_PED_DT_MAG_ALTEZZ] DEFAULT (0) FOR [MAG_ALTEZZ],
	CONSTRAINT [DF_U_PED_DT_MAG_LUNGHE] DEFAULT (0) FOR [MAG_LUNGHE],
	CONSTRAINT [DF_U_PED_DT_MAG_QTAMQ] DEFAULT (0) FOR [MAG_QTAMQ],
	CONSTRAINT [DF_U_PED_DT_MAG_QTAKG] DEFAULT (0) FOR [MAG_QTAKG],
	CONSTRAINT [DF_U_PED_DT_MAG_CODCLI] DEFAULT ('') FOR [MAG_CODCLI],
	CONSTRAINT [DF_U_PED_DT_MAG_CLIENT] DEFAULT ('') FOR [MAG_CLIENT],
	CONSTRAINT [DF_U_PED_DT_MAG_NUMORD] DEFAULT ('') FOR [MAG_NUMORD],
	CONSTRAINT [DF_U_PED_DT_MAG_DATORD] DEFAULT ('') FOR [MAG_DATORD],
	CONSTRAINT [DF_U_PED_DT_MAG_SYSORD] DEFAULT ('') FOR [MAG_SYSORD],
	CONSTRAINT [DF_U_PED_DT_MAG_NLPROV] DEFAULT (0) FOR [MAG_NLPROV],
	CONSTRAINT [DF_U_PED_DT_MAG_NUMPED] DEFAULT (0) FOR [MAG_NUMPED],
	CONSTRAINT [DF_U_PED_DT_MAG_DATPED] DEFAULT ('') FOR [MAG_DATPED],
	CONSTRAINT [DF_U_PED_DT_MAG_NUMDDT] DEFAULT ('') FOR [MAG_NUMDDT],
	CONSTRAINT [DF_U_PED_DT_MAG_DATDDT] DEFAULT ('') FOR [MAG_DATDDT],
	CONSTRAINT [DF_U_PED_DT_MAG_SYSDDT] DEFAULT ('') FOR [MAG_SYSDDT],
	CONSTRAINT [DF_U_PED_DT_MAG_UNIQUE] DEFAULT ('') FOR [MAG_UNIQUE],
	CONSTRAINT [DF_U_PED_DT_MAG_CODSYS] DEFAULT ('') FOR [MAG_CODSYS],
	CONSTRAINT [DF_U_PED_DT_MAG_RIFERI] DEFAULT ('') FOR [MAG_RIFERI],
	CONSTRAINT [DF_U_PED_DT_MAG_NUMPRG] DEFAULT ('') FOR [MAG_NUMPRG],
	CONSTRAINT [DF_U_PED_DT_MAG_DATPRG] DEFAULT ('') FOR [MAG_DATPRG],
	CONSTRAINT [DF_U_PED_DT_MAG_PROPRG] DEFAULT (0) FOR [MAG_PROPRG],
	CONSTRAINT [DF_U_PED_DT_MAG_DATAVA] DEFAULT ('') FOR [MAG_DATAVA],
	CONSTRAINT [DF_U_PED_DT_MAG_NUMBOB] DEFAULT (0) FOR [MAG_NUMBOB],
	CONSTRAINT [DF_U_PED_DT_SELEZIONE] DEFAULT ('') FOR [SELEZIONE],
	CONSTRAINT [DF_U_PED_DT_MAG_CDAPRD] DEFAULT ('') FOR [MAG_CDAPRD],
	CONSTRAINT [DF_U_PED_DT_MAG_DSAPRD] DEFAULT ('') FOR [MAG_DSAPRD],
	CONSTRAINT [DF_U_PED_DT_MAG_CODIMB] DEFAULT ('') FOR [MAG_CODIMB],
	CONSTRAINT [DF_U_PED_DT_MAG_DESIMB] DEFAULT ('') FOR [MAG_DESIMB],
	CONSTRAINT [DF_U_PED_DT_MAG_LARIMB] DEFAULT (0) FOR [MAG_LARIMB],
	CONSTRAINT [DF_U_PED_DT_MAG_LUNIMB] DEFAULT (0) FOR [MAG_LUNIMB],
	CONSTRAINT [DF_U_PED_DT_MAG_ALTIMB] DEFAULT (0) FOR [MAG_ALTIMB],
	CONSTRAINT [DF_U_PED_DT_MAG_CDPEDA] DEFAULT ('') FOR [MAG_CDPEDA],
	CONSTRAINT [DF_U_PED_DT_MAG_DSPEDA] DEFAULT ('') FOR [MAG_DSPEDA],
	CONSTRAINT [DF_U_PED_DT_MAG_CDSCAT] DEFAULT ('') FOR [MAG_CDSCAT],
	CONSTRAINT [DF_U_PED_DT_MAG_DSSCAT] DEFAULT ('') FOR [MAG_DSSCAT],
	CONSTRAINT [DF_U_PED_DT_MAG_NRSCAT] DEFAULT (0) FOR [MAG_NRSCAT],
	CONSTRAINT [DF_U_PED_DT_MAG_CSTPED] DEFAULT (0) FOR [MAG_CSTPED],
	CONSTRAINT [DF_U_PED_DT_MAG_CSTSCT] DEFAULT (0) FOR [MAG_CSTSCT],
	CONSTRAINT [DF_U_PED_DT_MAG_AGGDDT] DEFAULT ('') FOR [MAG_AGGDDT]
GO


