
/****** Oggetto:  Table [dbo].[U_SCO_CM]    Data script: 12/01/2011 00:48:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[U_SCO_CM]') AND type in (N'U'))
DROP TABLE [dbo].[U_SCO_CM]

/****** Oggetto:  Table [dbo].[U_SCO_CM]    Data script: 11/30/2011 22:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[U_SCO_CM](
	[id_unique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_U_SCO_CM_id_unique]  DEFAULT (newid()),
	[SCO_CODSOC] [varchar](2) NULL CONSTRAINT [DF_U_SCO_CM_SCO_CODSOC]  DEFAULT (''),
	[SCO_CODCLI] [varchar](10) NULL CONSTRAINT [DF_U_SCO_CM_SCO_CODCLI]  DEFAULT (''),
	[SCO_RAGSOC] [varchar](45) NULL CONSTRAINT [DF_U_SCO_CM_SCO_RAGSOC]  DEFAULT (''),
	[SCO_CATMER] [varchar](03) NULL CONSTRAINT [DF_U_SCO_CM_SCO_CATMER]  DEFAULT ('    '),
	[SCO_DESMER] [varchar](50) NULL CONSTRAINT [DF_U_SCO_CM_SCO_DESMER]  DEFAULT ('    '),
	[SCO_SC1] [numeric](6, 2) NULL CONSTRAINT [DF_U_SCO_CM_SCO_SC1]  DEFAULT (0),
	[SCO_SC2] [numeric](6, 2) NULL CONSTRAINT [DF_U_SCO_CM_SCO_SC2]  DEFAULT (0),
	[SCO_SC3] [numeric](6, 2) NULL CONSTRAINT [DF_U_SCO_CM_SCO_SC3]  DEFAULT (0),
	[SCO_SC4] [numeric](6, 2) NULL CONSTRAINT [DF_U_SCO_CM_SCO_SC4]  DEFAULT (0),
	[SCO_CODVAL] [varchar](3) NULL CONSTRAINT [DF_U_SCO_CM_SCO_CODVAL]  DEFAULT (''),
	[SCO_DATLIS] [varchar](10) NULL CONSTRAINT [DF_U_SCO_CM_SCO_DATLIS]  DEFAULT (''),
	[SCO_ALLIST] [varchar](10) NULL CONSTRAINT [DF_U_SCO_CM_SCO_ALLIST]  DEFAULT (''),
	[SELEZIONE] [varchar](10) NULL CONSTRAINT [DF_U_SCO_CM_SELEZIONE]  DEFAULT (''),
 CONSTRAINT [PK_U_SCO_CM] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF