/****** Object:  Table [dbo].[Colloqui]    Script Date: 18/08/2007 11.39.14 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Colloqui]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Colloqui]
GO


CREATE TABLE [Colloqui] (
	[IDColloqui] [nvarchar] (32) COLLATE Latin1_General_CI_AS NOT NULL ,
	[IDCurricul] [nvarchar] (32) COLLATE Latin1_General_CI_AS NOT NULL ,
	[IDComune] [nvarchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDTContatt] [nvarchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDTiopl] [nvarchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDTipoCntr] [nvarchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[Comune] [nvarchar] (150) COLLATE Latin1_General_CI_AS NULL ,
	[D_DtContatt] [nvarchar] (10) COLLATE Latin1_General_CI_AS NOT NULL ,
	[SintesiEsit] [ntext] COLLATE Latin1_General_CI_AS NULL ,
	[QualificLav] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL ,
	[Retribuzion] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL ,
	[ProfiloProf] [ntext] COLLATE Latin1_General_CI_AS NULL ,
	[Specializz] [ntext] COLLATE Latin1_General_CI_AS NULL ,
	[Situazione] [ntext] COLLATE Latin1_General_CI_AS NULL ,
	[DisponTrasf] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL ,
	[Annotazioni] [ntext] COLLATE Latin1_General_CI_AS NULL ,
	[DisponDal] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL ,
	[Risultato] [ntext] COLLATE Latin1_General_CI_AS NULL ,
	[ImpresValut] [ntext] COLLATE Latin1_General_CI_AS NULL ,
	[AnnotRiser] [ntext] COLLATE Latin1_General_CI_AS NULL ,
	[AzioniDaInt] [ntext] COLLATE Latin1_General_CI_AS NULL ,
	[PropDaForm] [ntext] COLLATE Latin1_General_CI_AS NULL ,
	[AltreIndic] [ntext] COLLATE Latin1_General_CI_AS NULL ,
	[Ordine] [smallint] NOT NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


