/****** Object:  Table [dbo].[TRATTRIF_DD]    Script Date: 18/08/2007 15.58.52 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[TRATTRIF_DD]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [TRATTRIF_DD]
GO


CREATE TABLE [TRATTRIF_DD] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[DAGGANCIO]  [nvarchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[ID_RIFERIMENTO] [nvarchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[RIF_CODICE] [VARCHAR] (10)  COLLATE Latin1_General_CI_AS NULL ,
	[RIF_COGNOM] [VARCHAR] (50) COLLATE Latin1_General_CI_AS NULL ,
	[RIF_NOME]   [VARCHAR] (50)  COLLATE Latin1_General_CI_AS NULL ,
	[RIF_PESDEC] [nvarchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[RIF_COMMEN] [text] COLLATE Latin1_General_CI_AS NULL 
) ON [PRIMARY]
GO


ALTER TABLE [dbo].[TRATTRIF_DD] WITH NOCHECK ADD 
	CONSTRAINT [PK_TRATTRIF_DD] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TRATTRIF_DD] WITH NOCHECK ADD 
	CONSTRAINT [DF_TRATTRIF_DD_id_unique] DEFAULT (newid()) FOR [id_unique],
	CONSTRAINT [DF_TRATTRIF_DD_DAGGANCIO] DEFAULT ('') FOR [DAGGANCIO],
	CONSTRAINT [DF_TRATTRIF_DD_ID_RIFERIMENTO] DEFAULT ('') FOR [ID_RIFERIMENTO],
	CONSTRAINT [DF_TRATTRIF_DD_RIF_CODICE] DEFAULT ('') FOR [RIF_CODICE],
	CONSTRAINT [DF_TRATTRIF_DD_RIF_COGNOM] DEFAULT ('') FOR [RIF_COGNOM],
	CONSTRAINT [DF_TRATTRIF_DD_RIF_NOME] DEFAULT ('') FOR [RIF_NOME],
	CONSTRAINT [DF_TRATTRIF_DD_RIF_PESDEC] DEFAULT ('') FOR [RIF_PESDEC],
	CONSTRAINT [DF_TRATTRIF_DD_RIF_COMMEN] DEFAULT ('') FOR [RIF_COMMEN]
GO


