/****** Object:  Table [dbo].[EspProf]    Script Date: 17/08/2007 11.40.04 ******/

if exists (select * from dbo.sysobjects where id = object_id(N'[EspProf]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [EspProf]
GO

CREATE TABLE [EspProf] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[DAGGANCIO]   [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[ID_ESPERIENZA] [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDTIOPL]     [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDTIPOAZI]   [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDATTAZIEN]  [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDSETTAZI]   [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[D_INIZIO]    [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[D_FINE]      [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[DURATA]      [varchar] (150) COLLATE Latin1_General_CI_AS NULL ,
	[MANSIONRESP] [text] COLLATE Latin1_General_CI_AS NULL ,
	[ATTIVSVOLTE] [text] COLLATE Latin1_General_CI_AS NULL ,
	[STRTECAMBME] [text] COLLATE Latin1_General_CI_AS NULL ,
	[ANNOTAZIONI] [text] COLLATE Latin1_General_CI_AS NULL ,
	[AZRAGSOC]    [varchar] (150) COLLATE Latin1_General_CI_AS NULL ,
	[AZINDIRIZZO] [varchar] (150) COLLATE Latin1_General_CI_AS NULL ,
	[ORDINE]      [numeric] (3,0) NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[EspProf] WITH NOCHECK ADD 
	CONSTRAINT [PK_EspProf] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[EspProf] WITH NOCHECK ADD 
	CONSTRAINT [DF_EspProf_id_unique] DEFAULT (newid()) FOR [id_unique],
	CONSTRAINT [DF_EspProf_DAGGANCIO] DEFAULT ('') FOR [DAGGANCIO],
	CONSTRAINT [DF_EspProf_ID_ESPERIENZA] DEFAULT ('') FOR [ID_ESPERIENZA],
	CONSTRAINT [DF_EspProf_IDTIOPL] DEFAULT ('') FOR [IDTIOPL],
	CONSTRAINT [DF_EspProf_IDTIPOAZI] DEFAULT ('') FOR [IDTIPOAZI],
	CONSTRAINT [DF_EspProf_IDATTAZIEN] DEFAULT ('') FOR [IDATTAZIEN],
	CONSTRAINT [DF_EspProf_IDSETTAZI] DEFAULT ('') FOR [IDSETTAZI],
	CONSTRAINT [DF_EspProf_D_INIZIO] DEFAULT ('') FOR [D_INIZIO],
	CONSTRAINT [DF_EspProf_D_FINE] DEFAULT ('') FOR [D_FINE],
	CONSTRAINT [DF_EspProf_DURATA] DEFAULT ('') FOR [DURATA],
	CONSTRAINT [DF_EspProf_MANSIONRESP] DEFAULT ('') FOR [MANSIONRESP],
	CONSTRAINT [DF_EspProf_ATTIVSVOLTE] DEFAULT ('') FOR [ATTIVSVOLTE],
	CONSTRAINT [DF_EspProf_STRTECAMBME] DEFAULT ('') FOR [STRTECAMBME],
	CONSTRAINT [DF_EspProf_ANNOTAZIONI] DEFAULT ('') FOR [ANNOTAZIONI],
	CONSTRAINT [DF_EspProf_AZRAGSOC] DEFAULT ('') FOR [AZRAGSOC],
	CONSTRAINT [DF_EspProf_AZINDIRIZZO] DEFAULT ('') FOR [AZINDIRIZZO],
	CONSTRAINT [DF_EspProf_ORDINE] DEFAULT (0) FOR [ORDINE]
GO

