/****** Object:  Table [dbo].[LingueCu]    Script Date: 18/08/2007 11.37.26  ******/

if exists (select * from dbo.sysobjects where id = object_id(N'[LingueCu]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [LingueCu]
GO

CREATE TABLE [LingueCu] (
	[IDLingueCu] [varchar] (32) COLLATE Latin1_General_CI_AS NOT NULL ,
	[IDCurricul] [varchar] (32) COLLATE Latin1_General_CI_AS NOT NULL ,
	[IDLingua] [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[B_MadreLing] [varchar] (1) COLLATE Latin1_General_CI_AS NOT NULL ,
	[Scritto] [tinyint] NULL ,
	[Ascolto] [tinyint] NULL ,
	[Lettura] [tinyint] NULL ,
	[Interazione] [tinyint] NULL ,
	[ProduzOrale] [tinyint] NULL ,
	[Ordine] [smallint] NOT NULL 
) ON [PRIMARY]
GO


