if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Offerta]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Offerta]
GO

CREATE TABLE [dbo].[Offerta] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,	
	[IDOfferta] [varchar] (32) COLLATE Latin1_General_CI_AS NOT NULL ,
	[IDTrattCom] [varchar] (32) COLLATE Latin1_General_CI_AS NOT NULL ,
	[IDOffertPre] [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDMittente] [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDEnteAzi] [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDRisUmana] [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDFunAzien] [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[TrattCom] [varchar] (50) COLLATE Latin1_General_CI_AS NOT NULL ,
	[Codice] [varchar] (26) COLLATE Latin1_General_CI_AS NOT NULL ,
	[D_Data] [varchar] (10) COLLATE Latin1_General_CI_AS NOT NULL ,
	[Oggetto] [ntext] COLLATE Latin1_General_CI_AS NOT NULL ,
	[FileDocumen] [ntext] COLLATE Latin1_General_CI_AS NULL ,
	[LastDocData] [ntext] COLLATE Latin1_General_CI_AS NULL ,
	[D_Validita] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[D_AttInizio] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[D_AttFine] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[Corrispett] [float] NULL ,
	[Ordine] [smallint] NOT NULL ,
	[IDAppCorr] [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[IDAnaSed] [varchar] (32) COLLATE Latin1_General_CI_AS NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[Offerta] WITH NOCHECK ADD 
	CONSTRAINT [PK_Offerta] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Offerta] WITH NOCHECK ADD 
	CONSTRAINT [DF_Offerta_id_unique] DEFAULT (newid()) FOR [id_unique],
	CONSTRAINT [DF_Offerta_IDOfferta] DEFAULT ('') FOR [IDOfferta],
	CONSTRAINT [DF_Offerta_IDTrattCom] DEFAULT ('') FOR [IDTrattCom],
	CONSTRAINT [DF_Offerta_IDOffertPre] DEFAULT ('') FOR [IDOffertPre],
	CONSTRAINT [DF_Offerta_IDMittente] DEFAULT ('') FOR [IDMittente],
	CONSTRAINT [DF_Offerta_IDEnteAzi] DEFAULT ('') FOR [IDEnteAzi],
	CONSTRAINT [DF_Offerta_IDRisUmana] DEFAULT ('') FOR [IDRisUmana],
	CONSTRAINT [DF_Offerta_IDFunAzien] DEFAULT ('') FOR [IDFunAzien],
	CONSTRAINT [DF_Offerta_TrattCom] DEFAULT ('') FOR [TrattCom],
	CONSTRAINT [DF_Offerta_Codice] DEFAULT ('') FOR [Codice],
	CONSTRAINT [DF_Offerta_D_Data] DEFAULT ('') FOR [D_Data],
	CONSTRAINT [DF_Offerta_Oggetto] DEFAULT ('') FOR [Oggetto],
	CONSTRAINT [DF_Offerta_FileDocumen] DEFAULT ('') FOR [FileDocumen],
	CONSTRAINT [DF_Offerta_LastDocData] DEFAULT ('') FOR [LastDocData],
	CONSTRAINT [DF_Offerta_D_Validita] DEFAULT ('') FOR [D_Validita],
	CONSTRAINT [DF_Offerta_D_AttInizio] DEFAULT ('') FOR [D_AttInizio],
	CONSTRAINT [DF_Offerta_D_AttFine] DEFAULT ('') FOR [D_AttFine],
	CONSTRAINT [DF_Offerta_Corrispett] DEFAULT (0) FOR [Corrispett],
	CONSTRAINT [DF_Offerta_Ordine] DEFAULT (0) FOR [Ordine],
	CONSTRAINT [DF_Offerta_IDAppCorr] DEFAULT ('') FOR [IDAppCorr],
	CONSTRAINT [DF_Offerta_IDAnaSed] DEFAULT ('') FOR [IDAnaSed]
GO
