/****** Object:  Table [dbo].[TRATTCOM_DD]    Script Date: 18/08/2007 15.56.38 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[TRATTCOM_DD]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [TRATTCOM_DD]
GO


CREATE TABLE [TRATTCOM_DD] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[DAGGANCIO] [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[ID_DETTAGLIO] [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[SOG_TIPSOG] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[SOG_FIGPROF] [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[SOG_DESGEN] [varchar] (250) COLLATE Latin1_General_CI_AS NULL ,
	[SOG_ANNESP] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[SOG_POSTI] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[D_INIZIO] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[D_FINE] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[SOG_GGPREV] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[SOG_COSTO] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[SOG_RICAVO] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[SOG_UTILE] [varchar] (10) COLLATE Latin1_General_CI_AS NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TRATTCOM_DD] WITH NOCHECK ADD 
	CONSTRAINT [PK_TRATTCOM_DD] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TRATTCOM_DD] WITH NOCHECK ADD 
	CONSTRAINT [DF_TRATTCOM_DD_id_unique] DEFAULT (newid()) FOR [id_unique],
	CONSTRAINT [DF_TRATTCOM_DD_DAGGANCIO] DEFAULT ('') FOR [DAGGANCIO],
	CONSTRAINT [DF_TRATTCOM_DD_ID_DETTAGLIO] DEFAULT ('') FOR [ID_DETTAGLIO],
	CONSTRAINT [DF_TRATTCOM_DD_SOG_TIPSOG] DEFAULT ('') FOR [SOG_TIPSOG],
	CONSTRAINT [DF_TRATTCOM_DD_SOG_FIGPROF] DEFAULT ('') FOR [SOG_FIGPROF],
	CONSTRAINT [DF_TRATTCOM_DD_SOG_DESGEN] DEFAULT ('') FOR [SOG_DESGEN],
	CONSTRAINT [DF_TRATTCOM_DD_SOG_ANNESP] DEFAULT ('') FOR [SOG_ANNESP],
	CONSTRAINT [DF_TRATTCOM_DD_SOG_POSTI] DEFAULT ('') FOR [SOG_POSTI],
	CONSTRAINT [DF_TRATTCOM_DD_D_INIZIO] DEFAULT ('') FOR [D_INIZIO],
	CONSTRAINT [DF_TRATTCOM_DD_D_FINE] DEFAULT ('') FOR [D_FINE],
	CONSTRAINT [DF_TRATTCOM_DD_SOG_GGPREV] DEFAULT ('') FOR [SOG_GGPREV],
	CONSTRAINT [DF_TRATTCOM_DD_SOG_COSTO] DEFAULT ('') FOR [SOG_COSTO],
	CONSTRAINT [DF_TRATTCOM_DD_SOG_RICAVO] DEFAULT ('') FOR [SOG_RICAVO],
	CONSTRAINT [DF_TRATTCOM_DD_SOG_UTILE] DEFAULT ('') FOR [SOG_UTILE]
GO


