/****** Object:  Table [dbo].[TRATTSOG_DD]    Script Date: 18/08/2007 16.00.48 ******/

if exists (select * from dbo.sysobjects where id = object_id(N'[TRATTSOG_DD]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [TRATTSOG_DD]
GO


CREATE TABLE [TRATTSOG_DD] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[DAGGANCIO]     [varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[ID_DETTAGLIO] 	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[SOG_TIPSOG] 	[varchar] (1) COLLATE Latin1_General_CI_AS NULL ,
	[SOG_CODICE] 	[varchar] (16) COLLATE Latin1_General_CI_AS NULL ,
	[SOG_COGNOM] 	[varchar] (40) COLLATE Latin1_General_CI_AS NULL ,
	[SOG_NOME] 	[varchar] (40) COLLATE Latin1_General_CI_AS NULL ,
	[SOG_FIGPROF]   [varchar] (3) COLLATE Latin1_General_CI_AS NULL ,
	[SOG_DESGEN]    [text] COLLATE Latin1_General_CI_AS NULL ,
	[SOG_ANNESP]    [numeric] (3, 0) NULL ,
	[SOG_POSTI]     [numeric] (3, 0) NULL ,
	[D_INIZIO]      [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[D_FINE]        [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[SOG_GGPREV]    [numeric] (10, 0) NULL ,
	[SOG_COSTO]     [numeric] (17, 2) NULL , 
	[SOG_RICAVO]    [numeric] (17, 2) NULL , 
	[SOG_UTILE]     [numeric] (17, 2) NULL , 
) ON [PRIMARY]
GO



ALTER TABLE [dbo].[TRATTSOG_DD] WITH NOCHECK ADD 
	CONSTRAINT [PK_TRATTSOG_DD] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TRATTSOG_DD] WITH NOCHECK ADD 
	CONSTRAINT [DF_TRATTSOG_DD_id_unique] DEFAULT (newid()) FOR [id_unique],
	CONSTRAINT [DF_TRATTSOG_DD_DAGGANCIO] DEFAULT ('') FOR [DAGGANCIO],
	CONSTRAINT [DF_TRATTSOG_DD_ID_DETTAGLIO] DEFAULT ('') FOR [ID_DETTAGLIO],
	CONSTRAINT [DF_TRATTSOG_DD_SOG_TIPSOG] DEFAULT ('') FOR [SOG_TIPSOG],
	CONSTRAINT [DF_TRATTSOG_DD_SOG_CODICE] DEFAULT ('') FOR [SOG_CODICE],
	CONSTRAINT [DF_TRATTSOG_DD_SOG_COGNOM] DEFAULT ('') FOR [SOG_COGNOM],
	CONSTRAINT [DF_TRATTSOG_DD_SOG_NOME] DEFAULT ('') FOR [SOG_NOME],
	CONSTRAINT [DF_TRATTSOG_DD_SOG_FIGPROF] DEFAULT ('') FOR [SOG_FIGPROF],
	CONSTRAINT [DF_TRATTSOG_DD_SOG_DESGEN] DEFAULT ('') FOR [SOG_DESGEN],
	CONSTRAINT [DF_TRATTSOG_DD_SOG_ANNESP] DEFAULT (0) FOR [SOG_ANNESP],
	CONSTRAINT [DF_TRATTSOG_DD_SOG_POSTI] DEFAULT (0) FOR [SOG_POSTI],
	CONSTRAINT [DF_TRATTSOG_DD_D_INIZIO] DEFAULT ('') FOR [D_INIZIO],
	CONSTRAINT [DF_TRATTSOG_DD_D_FINE] DEFAULT ('') FOR [D_FINE],
	CONSTRAINT [DF_TRATTSOG_DD_SOG_GGPREV] DEFAULT (0) FOR [SOG_GGPREV],
	CONSTRAINT [DF_TRATTSOG_DD_SOG_COSTO] DEFAULT (0) FOR [SOG_COSTO],
	CONSTRAINT [DF_TRATTSOG_DD_RSOG_RICAVO] DEFAULT (0) FOR [SOG_RICAVO],
	CONSTRAINT [DF_TRATTSOG_DD_SOG_UTILE] DEFAULT (0) FOR [SOG_UTILE]
GO
