USE [Xilopan]
GO
/****** Oggetto:  Table [dbo].[PART_CLI2]    Data script: 01/22/2012 16:02:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PART_CLI2](
	[id_unique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_PART_CLI2_id_unique]  DEFAULT (newid()),
	[PAR_CODSOC] [varchar](2) NULL CONSTRAINT [DF_PART_CLI2_PAR_CODSOC]  DEFAULT (''),
	[PAR_ANNO] [varchar](4) NULL CONSTRAINT [DF_PART_CLI2_PAR_ANNO]  DEFAULT (''),
	[PAR_TIPODO] [varchar](3) NULL CONSTRAINT [DF_PART_CLI2_PAR_TIPODO]  DEFAULT (''),
	[PAR_NUMPRO] [varchar](13) NULL CONSTRAINT [DF_PART_CLI2_PAR_NUMPRO]  DEFAULT (''),
	[PAR_NREG] [varchar](10) NULL CONSTRAINT [DF_PART_CLI2_PAR_NREG]  DEFAULT (''),
	[PAR_NPART] [numeric](10, 0) NULL CONSTRAINT [DF_PART_CLI2_PAR_NPART]  DEFAULT (0),
	[PAR_NPROG] [numeric](5, 0) NULL CONSTRAINT [DF_PART_CLI2_PAR_NPROG]  DEFAULT (0),
	[PAR_CODCLI] [varchar](13) NULL CONSTRAINT [DF_PART_CLI2_PAR_CODCLI]  DEFAULT (''),
	[PAR_RAGSOC] [varchar](40) NULL CONSTRAINT [DF_PART_CLI2_PAR_RAGSOC]  DEFAULT (''),
	[PAR_TEL] [varchar](15) NULL CONSTRAINT [DF_PART_CLI2_PAR_TEL]  DEFAULT (''),
	[PAR_IVA] [varchar](11) NULL CONSTRAINT [DF_PART_CLI2_PAR_IVA]  DEFAULT (''),
	[PAR_DTREG] [varchar](10) NULL CONSTRAINT [DF_PART_CLI2_PAR_DTREG]  DEFAULT (''),
	[PAR_DTFAT] [varchar](10) NULL CONSTRAINT [DF_PART_CLI2_PAR_DTFAT]  DEFAULT (''),
	[PAR_NUMFAT] [varchar](6) NULL CONSTRAINT [DF_PART_CLI2_PAR_NUMFAT]  DEFAULT (''),
	[PAR_TMOV] [varchar](1) NULL CONSTRAINT [DF_PART_CLI2_PAR_TMOV]  DEFAULT (''),
	[PAR_TIPFAT] [varchar](3) NULL CONSTRAINT [DF_PART_CLI2_PAR_TIPFAT]  DEFAULT (''),
	[PAR_TOTIM] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_TOTIM]  DEFAULT (0),
	[PAR_TIMPOS] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_TIMPOS]  DEFAULT (0),
	[PAR_FATT] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_FATT]  DEFAULT (0),
	[PAR_IMPO1] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_IMPO1]  DEFAULT (0),
	[PAR_IMPOS1] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_IMPOS1]  DEFAULT (0),
	[PAR_TOT1] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_TOT1]  DEFAULT (0),
	[PAR_CIVA1] [varchar](3) NULL CONSTRAINT [DF_PART_CLI2_PAR_CIVA1]  DEFAULT (''),
	[PAR_IMPO2] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_IMPO2]  DEFAULT (0),
	[PAR_IMPOS2] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_IMPOS2]  DEFAULT (0),
	[PAR_TOT2] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_TOT2]  DEFAULT (0),
	[PAR_CIVA2] [varchar](3) NULL CONSTRAINT [DF_PART_CLI2_PAR_CIVA2]  DEFAULT (''),
	[PAR_IMPO3] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_IMPO3]  DEFAULT (0),
	[PAR_IMPOS3] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_IMPOS3]  DEFAULT (0),
	[PAR_TOT3] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_TOT3]  DEFAULT (0),
	[PAR_CIVA3] [varchar](3) NULL CONSTRAINT [DF_PART_CLI2_PAR_CIVA3]  DEFAULT (''),
	[PAR_IMPO4] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_IMPO4]  DEFAULT (0),
	[PAR_IMPOS4] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_IMPOS4]  DEFAULT (0),
	[PAR_TOT4] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_TOT4]  DEFAULT (0),
	[PAR_CIVA4] [varchar](3) NULL CONSTRAINT [DF_PART_CLI2_PAR_CIVA4]  DEFAULT (''),
	[PAR_IMPO5] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_IMPO5]  DEFAULT (0),
	[PAR_IMPOS5] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_IMPOS5]  DEFAULT (0),
	[PAR_TOT5] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_TOT5]  DEFAULT (0),
	[PAR_CIVA5] [varchar](3) NULL CONSTRAINT [DF_PART_CLI2_PAR_CIVA5]  DEFAULT (''),
	[PAR_CODPAG] [varchar](3) NULL CONSTRAINT [DF_PART_CLI2_PAR_CODPAG]  DEFAULT (''),
	[PAR_DTSCAD] [varchar](10) NULL CONSTRAINT [DF_PART_CLI2_PAR_DTSCAD]  DEFAULT (''),
	[PAR_UTPPAR] [numeric](5, 0) NULL CONSTRAINT [DF_PART_CLI2_PAR_UTPPAR]  DEFAULT (0),
	[PAR_DAPAG] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_DAPAG]  DEFAULT (0),
	[PAR_GIAPAG] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_GIAPAG]  DEFAULT (0),
	[PAR_DATPAG] [varchar](10) NULL CONSTRAINT [DF_PART_CLI2_PAR_DATPAG]  DEFAULT (''),
	[PAR_PAGATO] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_PAGATO]  DEFAULT (0),
	[PAR_FATRI] [bit] NULL CONSTRAINT [DF_PART_CLI2_PAR_FATRI]  DEFAULT (0),
	[PAR_NPROT] [varchar](6) NULL CONSTRAINT [DF_PART_CLI2_PAR_NPROT]  DEFAULT (''),
	[PAR_CLOSE] [bit] NULL CONSTRAINT [DF_PART_CLI2_PAR_CLOSE]  DEFAULT (0),
	[PAR_DESMOV] [varchar](45) NULL CONSTRAINT [DF_PART_CLI2_PAR_DESMOV]  DEFAULT (''),
	[PAR_DESMO1] [varchar](45) NULL CONSTRAINT [DF_PART_CLI2_PAR_DESMO1]  DEFAULT (''),
	[PAR_CAMBIO] [numeric](15, 10) NULL CONSTRAINT [DF_PART_CLI2_PAR_CAMBIO]  DEFAULT (0),
	[PAR_IMPVAL] [numeric](18, 4) NULL CONSTRAINT [DF_PART_CLI2_PAR_IMPVAL]  DEFAULT (0),
	[PAR_VALUTA] [varchar](3) NULL CONSTRAINT [DF_PART_CLI2_PAR_VALUTA]  DEFAULT (''),
	[PAR_DTVAL] [varchar](10) NULL CONSTRAINT [DF_PART_CLI2_PAR_DTVAL]  DEFAULT (''),
	[PAR_SYS] [varchar](10) NULL CONSTRAINT [DF_PART_CLI2_PAR_SYS]  DEFAULT (''),
	[PAR_BANCA] [varchar](5) NULL CONSTRAINT [DF_PART_CLI2_PAR_BANCA]  DEFAULT (''),
	[PAR_CONTABILITA_PREVISIONALE] [varchar](1) NULL CONSTRAINT [DF_PART_CLI2_PAR_CONTABILITA_PREVISIONALE]  DEFAULT ('0'),
	[PAR_NPARTO] [numeric](10, 0) NULL CONSTRAINT [DF_PART_CLI2_PAR_NPARTO]  DEFAULT ('0'),
	[PAR_CODACQ] [varchar](3) NULL,
	[PAR_TIPOCONTRATTO] [varchar](5) NULL,
	[PAR_FORMAPAGAMENTO] [varchar](5) NULL,
	[PAR_GRADOIMPORTANZA] [varchar](5) NULL,
	[PAR_COSATRATTA] [varchar](5) NULL,
	[PAR_PRIPAGA] [varchar](4) NULL,
	[PAR_FATTD] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_FATTD]  DEFAULT ('0'),
	[PAR_FATTA] [numeric](17, 3) NULL CONSTRAINT [DF_PART_CLI2_PAR_FATTA]  DEFAULT ('0'),
	[PAR_ANOMAX] [varchar](3) NULL CONSTRAINT [DF_PART_CLI2_PAR_ANOMAX]  DEFAULT (''),
	[PAR_NPORI] [varchar](10) NULL CONSTRAINT [DF_PART_CLI2_PAR_NPORI]  DEFAULT (''),
	[PAR_NUCOM] [varchar](30) NULL CONSTRAINT [DF_PART_CLI2_PAR_NUCOM]  DEFAULT (' '),
	[PAR_RIFASC] [bit] NULL CONSTRAINT [DF_PART_CLI2_PAR_RIFASC]  DEFAULT ((0)),
	[SYS_PARTI] [varchar](10) NULL CONSTRAINT [DF_PART_CLI2_SYS_PARTI]  DEFAULT (''),
	[PAR_TIPOPA] [varchar](3) NULL CONSTRAINT [DF_PART_CLI2_PAR_TIPOPA]  DEFAULT (''),
	[PAR_NUMSOL] [numeric](6, 0) NULL CONSTRAINT [DF_PART_CLI2_PAR_NUMSOL]  DEFAULT ('0'),
	[PAR_NOPART] [bit] NULL CONSTRAINT [DF_PART_CLI2_PAR_NOPART]  DEFAULT ((0)),
	[PAR_STORIA] [text] NULL CONSTRAINT [DF_PART_CLI2_PAR_STORIA]  DEFAULT (''),
	[PAR_DTNEWS] [varchar](10) NULL CONSTRAINT [DF_PART_CLI2_PAR_DTNEWS]  DEFAULT (''),
	[PAR_DTUSOL] [varchar](10) NULL CONSTRAINT [DF_PART_CLI2_PAR_DTUSOL]  DEFAULT (''),
	[PAR_ALLE01] [varchar](240) NULL CONSTRAINT [DF_PART_CLI2_PAR_ALLE01]  DEFAULT (''),
	[PAR_ALLE02] [varchar](240) NULL CONSTRAINT [DF_PART_CLI2_PAR_ALLE02]  DEFAULT (''),
	[PAR_ALLE03] [varchar](240) NULL CONSTRAINT [DF_PART_CLI2_PAR_ALLE03]  DEFAULT (''),
	[PAR_ALLE04] [varchar](240) NULL CONSTRAINT [DF_PART_CLI2_PAR_ALLE04]  DEFAULT (''),
	[PAR_ALLE05] [varchar](240) NULL CONSTRAINT [DF_PART_CLI2_PAR_ALLE05]  DEFAULT (''),
	[SELEZIONE] [varchar](10) NULL CONSTRAINT [DF_PART_CLI2_SELEZIONE]  DEFAULT (''),
	[PAR_BLOCCO] [bit] NULL CONSTRAINT [DF_PART_CLI2_PAR_BLOCCO]  DEFAULT ((0)),
 CONSTRAINT [PK_PART_CLI2] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF