  	
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CARRELLO]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[CARRELLO]
GO

/****** Object:  Table [dbo].[CARRELLO]    Script Date: 29/06/2012 ******/
CREATE TABLE [CARRELLO] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[UTENTE]  		[varchar] (30) COLLATE Latin1_General_CI_AS NULL ,
	[ID_CARRELLO]	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_NUMORD]	[varchar] (6) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_CODCLI]  	[varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_CODART]   	[varchar] (16) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_DESART]   	[varchar] (100) COLLATE Latin1_General_CI_AS NULL ,
	[ORD_UM] 		[varchar] (2)  COLLATE Latin1_General_CI_AS NULL 	,
	[ORD_IVA] 		[varchar] (3)  COLLATE Latin1_General_CI_AS NULL 	,
	[ORD_PREZZO]	[varchar] (10) NULL ,
	[ORD_QTAORD] 	[varchar] (10)  NULL ,
	[FLAG] 			[varchar] (1)  COLLATE Latin1_General_CI_AS NULL ,
	[PAGAMENTO]		[varchar] (6)  COLLATE Latin1_General_CI_AS NULL ,
	[DATA_ORDINE]	[varchar] (10)  COLLATE Latin1_General_CI_AS NULL ,
	[ORA_ORDINE]	[varchar] (8)  COLLATE Latin1_General_CI_AS NULL 
	
	
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CARRELLO] WITH NOCHECK ADD 
	CONSTRAINT [PK_CARRELLO] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[CARRELLO] WITH NOCHECK ADD 
	CONSTRAINT [DF_CARRELLO_ID_UNIQUE] 			    DEFAULT (newid()) 	FOR 	[ID_UNIQUE]	,           
	CONSTRAINT [DF_CARRELLO_UTENTE]     			DEFAULT ('') 		FOR 	[UTENTE]	,
	CONSTRAINT [DF_CARRELLO_ID_CARRELLO]     		DEFAULT ('') 		FOR 	[ID_CARRELLO]	,
	CONSTRAINT [DF_CARRELLO_ORD_NUMORD]     				DEFAULT ('') 		FOR 	[ORD_NUMORD]	,
	CONSTRAINT [DF_CARRELLO_ORD_CODCLI]    				   	DEFAULT ('') 		FOR 	[ORD_CODCLI]	,                  
	CONSTRAINT [DF_CARRELLO_ORD_CODART] 				    DEFAULT ('') 		FOR 	[ORD_CODART],              
	CONSTRAINT [DF_CARRELLO_ORD_DESART] 			   		DEFAULT ('') 		FOR 	[ORD_DESART],           
	CONSTRAINT [DF_CARRELLO_ORD_UM]				   			DEFAULT ('') 		FOR 	[ORD_UM],             
	CONSTRAINT [DF_CARRELLO_ORD_IVA]			   			DEFAULT ('') 		FOR 	[ORD_IVA],            
	CONSTRAINT [DF_CARRELLO_ORD_PREZZO] 			   		DEFAULT ('') 		FOR 	[ORD_PREZZO]  ,        
	CONSTRAINT [DF_CARRELLO_ORD_QTAORD]			   			DEFAULT ('') 		FOR 	[ORD_QTAORD] ,       
	CONSTRAINT [DF_CARRELLO_FLAG]    				   		DEFAULT ('') 		FOR 	[FLAG]	,                  
	CONSTRAINT [DF_CARRELLO_PAGAMENTO]    				   	DEFAULT ('') 		FOR 	[PAGAMENTO]	,
	CONSTRAINT [DF_CARRELLO_DATA_ORDINE]    			  	DEFAULT ('') 		FOR 	[DATA_ORDINE]	,
	CONSTRAINT [DF_CARRELLO_ORA_ORDINE]    			  	DEFAULT ('') 		FOR 	[ORA_ORDINE]	


GO