SELECT TITOLO, 
       DESCRIZIONE, 
       DT_VDAL, 
       DT_VAL, 
       Rtrim(FLAG_LEGGI_U) + Rtrim(FLAG_LEGGI_D) AS FLAG_LEGGI, 
       FLAG_MODI, 
       COD_UTENTE_INS, 
       DATA_INS, 
       COD_UTENTE_MOD, 
       DATA_MOD 
FROM   NEWS 
WHERE  CONVERT(VARCHAR, Getdate(), 111) BETWEEN DT_VDAL AND DT_VAL 
AND ((RTRIM(FLAG_LEGGI_D)='D' AND '#RUOLO#'='D') OR (RTRIM(FLAG_LEGGI_U)!='' AND '#RUOLO#'!='D')) 
AND ((RTRIM(FLAG_LEGGI_u)='U' AND '#RUOLO#'='U') OR (RTRIM(FLAG_LEGGI_d)!='' AND '#RUOLO#'!='U')) 
OR '#RUOLO#'='A' 
ORDER BY DT_VDAL DESC,DT_VAL DESC
  