if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MENU]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[MENU]
GO
  
/****** Object:  Table [dbo].[MENU]    Script Date: 23/08/2007 5.41.01 ******/
CREATE TABLE [MENU] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[CODICE] 			[varchar] (30) COLLATE Latin1_General_CI_AS NULL ,
	[DESCRIZIONE]		[varchar] (40) COLLATE Latin1_General_CI_AS NULL ,
	[FLAG]			 	[varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[RUOLI]			 	[varchar] (30) COLLATE Latin1_General_CI_AS NULL ,
	[LINK]			 	[varchar] (100) COLLATE Latin1_General_CI_AS NULL ,
	[ORDINE]		 	[varchar] (4) COLLATE Latin1_General_CI_AS NULL
) ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MENU] WITH NOCHECK ADD 
	CONSTRAINT [PK_MENU] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MENU] WITH NOCHECK ADD 
	CONSTRAINT [DF_MENU_id_unique] DEFAULT (newid()) FOR [id_unique],
	CONSTRAINT [DF_MENU_CODICE] DEFAULT ('') FOR [CODICE],
	CONSTRAINT [DF_MENU_DESCRIZIONE] DEFAULT ('') FOR [DESCRIZIONE],
	CONSTRAINT [DF_MENU_FLAG] DEFAULT ('') FOR [FLAG],
	CONSTRAINT [DF_MENU_RUOLI] DEFAULT ('') FOR [RUOLI],
	CONSTRAINT [DF_MENU_LINK] DEFAULT ('') FOR [LINK],
	CONSTRAINT [DF_MENU_ORDINE] DEFAULT ('') FOR [ORDINE]
GO

