	
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PAGAMENTO_WEB]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[PAGAMENTO_WEB]
GO

/****** Object:  Table [dbo].[PAGAMENTO_WEB]    Script Date: 29/06/2012 ******/
CREATE TABLE [PAGAMENTO_WEB] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[ID_PAGAMENTO_WEB]	[varchar] (32) COLLATE Latin1_General_CI_AS NULL ,
	[DESCRIZIONE]  	[varchar] (50) COLLATE Latin1_General_CI_AS NULL
	
	
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[PAGAMENTO_WEB] WITH NOCHECK ADD 
	CONSTRAINT [PK_PAGAMENTO_WEB] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[PAGAMENTO_WEB] WITH NOCHECK ADD 
	CONSTRAINT [DF_PAGAMENTO_WEB_ID_UNIQUE] 			    DEFAULT (newid()) 	FOR 	[ID_UNIQUE]	,           
	CONSTRAINT [DF_PAGAMENTO_WEB_ID_PAGAMENTO_WEB]     					DEFAULT ('') 		FOR 	[ID_PAGAMENTO_WEB]	,
	CONSTRAINT [DF_PAGAMENTO_WEB_DESCRIZIONE]    				   	DEFAULT ('') 		FOR 	[DESCRIZIONE]
GO