	
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UTENTI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[UTENTI]
GO


/****** Oggetto:  Table [dbo].[UTENTI]    Data script: 03/04/2011 10:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UTENTI](
	[id_unique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_UTENTI_id_unique]  DEFAULT (newid()),
	[USERID] [varchar](50) NULL CONSTRAINT [DF_UTENTI_USERID]  DEFAULT (''),
	[PASSWORD] [varchar](30) NULL CONSTRAINT [DF_UTENTI_PASSWORD]  DEFAULT (''),
	[RUOLO] [varchar](30) NULL CONSTRAINT [DF_UTENTI_RUOLO]  DEFAULT (''),
	[ID_CODICE] [varchar](32) NULL CONSTRAINT [DF_UTENTI_ID_CODICE]  DEFAULT (''),
	[NOME] [varchar](60) NULL CONSTRAINT [DF_UTENTI_NOME]  DEFAULT (''),
	[COGNOME] [varchar](60) NULL CONSTRAINT [DF_UTENTI_COGNOME]  DEFAULT (''),
	[EMAIL] [varchar](100) NULL CONSTRAINT [DF_UTENTI_EMAIL]  DEFAULT (''),
	[DATA] [varchar](10) NULL CONSTRAINT [DF_UTENTI_DATA]  DEFAULT (''),
	[SC_FLAG] [varchar](1) NULL CONSTRAINT [DF_UTENTI_SC_FLAG]  DEFAULT (''),
	[SCADENZA] [numeric](3, 0) NULL CONSTRAINT [DF_UTENTI_SCADENZA]  DEFAULT (''),
 CONSTRAINT [PK_UTENTI] PRIMARY KEY CLUSTERED 
(
	[id_unique] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF