	
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[NEWS]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[NEWS]
GO

/****** Object:  Table [dbo].[NEWS]    Script Date: 23/08/2007 5.41.01 ******/
CREATE TABLE [NEWS] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[TITOLO]  			[varchar] (200) COLLATE Latin1_General_CI_AS NULL ,
	[DT_VDAL]    		[varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[DT_VAL]    		[varchar] (100) COLLATE Latin1_General_CI_AS NULL ,
	[FLAG_LEGGI_U] 		[varchar] (1)  COLLATE Latin1_General_CI_AS NULL 	,
	[FLAG_LEGGI_D] 		[varchar] (1)  COLLATE Latin1_General_CI_AS NULL 	,
	[FLAG_MODI]	    	[varchar] (1) COLLATE Latin1_General_CI_AS NULL ,
	[COD_UTENTE_INS] 	[varchar] (100)  COLLATE Latin1_General_CI_AS NULL 	,
	[DES_UTENTE_INS] 	[varchar] (100)  COLLATE Latin1_General_CI_AS NULL 	,
	[DATA_INS] 			[varchar] (10) COLLATE Latin1_General_CI_AS NULL	,
	[COD_UTENTE_MOD] 	[varchar] (100)  COLLATE Latin1_General_CI_AS NULL 	,
	[DES_UTENTE_MOD] 	[varchar] (100)  COLLATE Latin1_General_CI_AS NULL 	,
	[DATA_MOD] 			[varchar] (10) COLLATE Latin1_General_CI_AS NULL	,
	[DESCRIZIONE] 		[text] 		COLLATE Latin1_General_CI_AS NULL 
	
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[NEWS] WITH NOCHECK ADD 
	CONSTRAINT [PK_NEWS] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[NEWS] WITH NOCHECK ADD 
	CONSTRAINT [DF_NEWS_id_unique] 		DEFAULT (newid()) 	FOR 	[id_unique]	,
	CONSTRAINT [DF_NEWS_TITOLO]    		DEFAULT ('') 		FOR 	[TITOLO]	,
	CONSTRAINT [DF_NEWS_DT_VDAL] 		DEFAULT ('') 		FOR 	[DT_VDAL],
	CONSTRAINT [DF_NEWS_DT_VAL] 		DEFAULT ('') 		FOR 	[DT_VAL],
	CONSTRAINT [DF_NEWS_FLAG_LEGGI_U]	DEFAULT ('') 		FOR 	[FLAG_LEGGI_U],
	CONSTRAINT [DF_NEWS_FLAG_LEGGI_D]	DEFAULT ('') 		FOR 	[FLAG_LEGGI_D],
	CONSTRAINT [DF_NEWS_FLAG_MODI] 		DEFAULT ('') 		FOR 	[FLAG_MODI]  ,
	CONSTRAINT [DF_NEWS_COD_UTENTE_INS]	DEFAULT ('') 		FOR 	[COD_UTENTE_INS]  ,
	CONSTRAINT [DF_NEWS_DES_UTENTE_INS]	DEFAULT ('') 		FOR 	[DES_UTENTE_INS]  ,
	CONSTRAINT [DF_NEWS_DATA_INS] 		DEFAULT ('') 		FOR 	[DATA_INS]  ,
	CONSTRAINT [DF_NEWS_COD_UTENTE_MOD]	DEFAULT ('') 		FOR 	[COD_UTENTE_MOD]  ,
	CONSTRAINT [DF_NEWS_DES_UTENTE_MOD]	DEFAULT ('') 		FOR 	[DES_UTENTE_MOD]  ,
	CONSTRAINT [DF_NEWS_DATA_MOD] 		DEFAULT ('') 		FOR 	[DATA_MOD]  ,
	CONSTRAINT [DF_NEWS_DESCRIZIONE] 	DEFAULT ('') 		FOR 	[DESCRIZIONE]
	
GO