	
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UTENTI]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[UTENTI]
GO

/****** Object:  Table [dbo].[UTENTI]    Script Date: 16/10/2007 15.54.01 ******/
CREATE TABLE [UTENTI] (
	id_unique  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[USERID] 	[varchar] (30)  COLLATE Latin1_General_CI_AS NULL ,
	[PASSWORD] 	[varchar] (30)  COLLATE Latin1_General_CI_AS NULL ,
	[RUOLO] 	[varchar] (30)  COLLATE Latin1_General_CI_AS NULL ,
	[ID_CODICE] [varchar] (32)  COLLATE Latin1_General_CI_AS NULL ,
	[NOME]      [varchar] (30)  COLLATE Latin1_General_CI_AS NULL ,
	[COGNOME]   [varchar] (30)  COLLATE Latin1_General_CI_AS NULL ,
	[EMAIL]		[varchar] (100) COLLATE Latin1_General_CI_AS NULL ,
	[DATA]      [varchar] (10)  COLLATE Latin1_General_CI_AS NULL ,
	[SC_FLAG]	[varchar] (1)   COLLATE Latin1_General_CI_AS NULL ,
	[SCADENZA]	[numeric] (3,0) NULL							
) ON [PRIMARY] 
GO

ALTER TABLE [dbo].[UTENTI] WITH NOCHECK ADD 
	CONSTRAINT [PK_UTENTI] PRIMARY KEY  CLUSTERED 
	(
		[id_unique]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[UTENTI] WITH NOCHECK ADD 
	CONSTRAINT [DF_UTENTI_id_unique] 	DEFAULT (newid()) FOR 	[id_unique]	,
	CONSTRAINT [DF_UTENTI_USERID] 		DEFAULT ('') FOR 		[USERID]  	,
	CONSTRAINT [DF_UTENTI_PASSWORD] 	DEFAULT ('') FOR 		[PASSWORD]  ,
	CONSTRAINT [DF_UTENTI_RUOLO]    	DEFAULT ('') FOR 		[RUOLO]     ,
	CONSTRAINT [DF_UTENTI_ID_CODICE]    DEFAULT ('') FOR        [ID_CODICE] ,
	CONSTRAINT [DF_UTENTI_NOME] 	    DEFAULT ('') FOR        [NOME]      ,
	CONSTRAINT [DF_UTENTI_COGNOME]      DEFAULT ('') FOR        [COGNOME]   ,
	CONSTRAINT [DF_UTENTI_EMAIL]		DEFAULT ('') FOR		[EMAIL]		,
	CONSTRAINT [DF_UTENTI_DATA] 		DEFAULT ('') FOR		[DATA]      ,
	CONSTRAINT [DF_UTENTI_SC_FLAG]		DEFAULT ('') FOR 		[SC_FLAG]	,
	CONSTRAINT [DF_UTENTI_SCADENZA]		DEFAULT ('') FOR 		[SCADENZA]
GO

