if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Sp_Gestionale]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Sp_Gestionale]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.Sp_Gestionale
	@maxRighe int,
	@iPag  int,
	@Tabella varchar(255),
	@CampiVista varchar(255),
	@CampiFiltro varchar(255),
	@CampiFiltro1 varchar(255),
	@Ordine varchar(255)

AS
DECLARE @sqlstmt nvarchar(4000)
SET ROWCOUNT @maxRighe

SET @sqlstmt = 'SELECT ' + @CampiVista 
			 + ' FROM ' + @Tabella  + ' AS U1'
			 + ' WHERE ' 
			 + '		(SELECT COUNT(*)'
			 + '		 FROM ' + @Tabella + ' AS U2'
			 + '  	 WHERE ' + @CampiFiltro
			 + '		 AND ' + @CampiFiltro1
			 + '  	) > ' + CAST((@maxRighe * @iPag) - (@maxRighe + 1) AS varchar)
			 + '		 AND ' + @CampiFiltro1
			 + ' ORDER BY ' + @Ordine

EXEC dbo.sp_executesql @sqlstmt
GO

SET ROWCOUNT 0


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO