GO
/****** Oggetto:  Table [dbo].[PARAOLD]    Data script: 04/08/2013 20:50:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PARAOLD]') AND type in (N'U'))
DROP TABLE [dbo].[PARAOLD]




GO
/****** Oggetto:  Table [dbo].[PARAOLD]    Data script: 04/08/2013 20:50:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARAOLD](
	[id_unique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_PARAOLD_id_unique]  DEFAULT (newid()),
	[CODICE] [varchar](20) NULL CONSTRAINT [DF_PARAOLD_CODICE]  DEFAULT (''),
	[DESCRI] [varchar](254) NULL CONSTRAINT [DF_PARAOLD_DESCRI]  DEFAULT (''),
	[LIBERA] [varchar](200) NULL CONSTRAINT [DF_PARAOLD_LIBERA]  DEFAULT (''),
	[CLASSE] [numeric](2, 0) NULL CONSTRAINT [DF_PARAOLD_CLASSE]  DEFAULT (0),
	[CONTO1] [varchar](13) NULL CONSTRAINT [DF_PARAOLD_CONTO1]  DEFAULT (''),
	[CONTO2] [varchar](13) NULL CONSTRAINT [DF_PARAOLD_CONTO2]  DEFAULT (''),
	[CONTO3] [varchar](13) NULL CONSTRAINT [DF_PARAOLD_CONTO3]  DEFAULT (''),
	[CONTO4] [varchar](13) NULL CONSTRAINT [DF_PARAOLD_CONTO4]  DEFAULT (''),
	[CONIVA] [varchar](13) NULL CONSTRAINT [DF_PARAOLD_CONIVA]  DEFAULT (''),
	[DESIVA] [varchar](40) NULL CONSTRAINT [DF_PARAOLD_DESIVA]  DEFAULT (''),
	[NOTE] [text] NULL CONSTRAINT [DF_PARAOLD_NOTE]  DEFAULT (''),
	[ITALIANO] [text] NULL CONSTRAINT [DF_PARAOLD_ITALIANO]  DEFAULT (''),
	[INGLESE] [text] NULL CONSTRAINT [DF_PARAOLD_INGLESE]  DEFAULT (''),
	[FRANCESE] [text] NULL CONSTRAINT [DF_PARAOLD_FRANCESE]  DEFAULT (''),
	[TEDESCO] [text] NULL CONSTRAINT [DF_PARAOLD_TEDESCO]  DEFAULT (''),
	[GG_LAV] [numeric](6, 2) NULL CONSTRAINT [DF_PARAOLD_GG_LAV]  DEFAULT (0),
	[CODPGO] [varchar](5) NULL CONSTRAINT [DF_PARAOLD_CODPGO]  DEFAULT (''),
	[PERANT] [numeric](6, 2) NULL CONSTRAINT [DF_PARAOLD_PERANT]  DEFAULT (0),
	[PERSAL] [numeric](6, 2) NULL CONSTRAINT [DF_PARAOLD_PERSAL]  DEFAULT (0),
	[PAR_TRASME] [varchar](2) NULL CONSTRAINT [DF_PARAOLD_PAR_TRASME]  DEFAULT (''),
	[PAR_DATINS] [varchar](10) NULL CONSTRAINT [DF_PARAOLD_PAR_DATINS]  DEFAULT (''),
	[TIPOMOV] [numeric](3, 0) NULL CONSTRAINT [DF_PARAOLD_TIPOMOV]  DEFAULT (0),
	[DTIPOMOV] [varchar](90) NULL CONSTRAINT [DF_PARAOLD_DTIPOMOV]  DEFAULT (''),
	[SCAFISS] [numeric](3, 0) NULL CONSTRAINT [DF_PARAOLD_SCAFISS]  DEFAULT (0),
	[CLASSIVA] [varchar](3) NULL CONSTRAINT [DF_PARAOLD_CLASSIVA]  DEFAULT (''),
	[CHIUFISCAL] [bit] NULL CONSTRAINT [DF_PARAOLD_CHIUFISCAL]  DEFAULT ((0)),
	[PAR_COSTCAD1] [numeric](17, 2) NULL CONSTRAINT [DF_PARAOLD_PAR_COSTCAD1]  DEFAULT ((0)),
	[PAR_RICCAD1] [numeric](17, 2) NULL CONSTRAINT [DF_PARAOLD_PAR_RICCAD1]  DEFAULT ((0)),
	[PAR_FINOA] [numeric](5, 0) NULL CONSTRAINT [DF_PARAOLD_PAR_FINOA]  DEFAULT ((0)),
	[PAR_COSFINOA] [numeric](17, 2) NULL CONSTRAINT [DF_PARAOLD_PAR_COSFINOA]  DEFAULT ((0)),
	[PAR_RICFINOA] [numeric](17, 2) NULL CONSTRAINT [DF_PARAOLD_PAR_RICFINOA]  DEFAULT ((0)),
	[PAR_OLTREA] [numeric](5, 0) NULL CONSTRAINT [DF_PARAOLD_PAR_OLTREA]  DEFAULT ((0)),
	[PAR_COSOLTRA] [numeric](17, 2) NULL CONSTRAINT [DF_PARAOLD_PAR_COSOLTRA]  DEFAULT ((0)),
	[PAR_RICOLTRA] [numeric](17, 2) NULL CONSTRAINT [DF_PARAOLD_PAR_RICOLTRA]  DEFAULT ((0)),
	[PERIMPO] [numeric](6, 2) NULL CONSTRAINT [DF_PARAOLD_PERIMPO]  DEFAULT ((0)),
	[SCAFISS_1R] [numeric](3, 0) NULL CONSTRAINT [DF_PARAOLD_SCAFISS_1R]  DEFAULT ((0)),
	[SOLOIMPIVA] [varchar](3) NULL CONSTRAINT [DF_PARAOLD_SOLOIMPIVA]  DEFAULT (''),
	[ECOMMERCE] [varchar](1) NULL CONSTRAINT [DF_PARAOLD_ECOMMERCE]  DEFAULT ('')
) ON [PRIMARY]

GO

